<div class="alert alert-block alert-info">
Author:<br>Felix Gonzalez, P.E. <br> Adjunct Instructor, <br> Division of Professional Studies <br> Computer Science and Electrical Engineering <br> University of Maryland Baltimore County <br> fgonzale@umbc.edu
</div>

This notebook provides an overview of basic concepts in workign with various types of data sources and files in the Python Programming Language and Jupyter Notebooks. These data sources include files such as txt, json, and csv. The notebook also includes a discussion of various functions and libraries as well as methods on working with multiple data sources files. As a data scientist you will have to work with data in multiple files as well as multiple data file types. In many cases you will need to consolidate, merge, or concatenate to make the dataset more useful.

# Table of Contents
[Python Libraries in this Notebook](#Python-Libraries-in-this-Notebook)

[OS Library](#OS-Library)

- [Working Directory Path Environment](#Working-Directory-Path-Environment)

- [Working in the Directory](#Working-in-the-Directory)

[Pandas: Working with Multiple Files](#Pandas:-Working-with-Multiple-Files)

- [Reading Multiple CSV Files and Pandas: Electricity Use Data Example](#Reading-Multiple-CSV-Files-and-Pandas:-Electricity-Use-Data-Example)

[Reading Data Line By Line](#Reading-Data-Line-By-Line)

[Working with PDFs](#Working-with-PDFs)

[Python Built-In Functions for Loading Data (OPTIONAL)](#Python-Built-In-Functions-for-Loading-Data-(OPTIONAL))

- [Open Function](#Open-Function)

- [With Statement](#With-Statement)

- [Example with Numerical Data in a TXT File](#Example-with-Numerical-Data-in-a-TXT-File)

[JSON Library: JSON Files (OPTIONAL)](#JSON-Library:-JSON-Files-(OPTIONAL))

[Working with CSV Files (CSV Library)](#Working-with-CSV-Files-(CSV-Library))

[Reading Multiple TXT Files (OPTIONAL)](#Reading-Multiple-TXT-Files-(OPTIONAL))

# Python Libraries in this Notebook
[Return to Table of Contents](#Table-of-Contents)

In [2]:
import os
import pathlib
import glob
import requests
from urllib.request import urlopen
import csv
import re
import fileinput
import shutil
import json

import pandas as pd

# OS Library
[Return to Table of Contents](#Table-of-Contents)

The Operating System (OS) module provides a portable way of using OS dependent functionality. There are various useful functions and modules within the OS library. Some of these include:
- Open() function: read or write a file  
- Os.path module: Read and manipulate paths  
- Fileinput module: Read all the lines in all the files on the command line
- Tempfile module: Creating temporary files and directories 
- shutil module: High-level file and directory handling

There are other libraries that also make it easy to work with files such as the Glob library.

Documentation References:
- OS Library: https://docs.python.org/3/library/os.html
- Glob Library: https://docs.python.org/3/library/glob.html

There are a few things to remember and that will vary from system to system.

In [3]:
os.linesep # Note on line separator which will vary depending in the OS system.

'\r\n'

From the OS Library documentation:

os.linesep: "The string used to separate (or, rather, terminate) lines on the current platform. This may be a single character, such as '\n' for POSIX, or multiple characters, for example, '\r\n' for Windows. Do not use os.linesep as a line terminator when writing files opened in text mode (the default); use a single '\n' instead, on all platforms."

Also recall that paths in windows uses the "\" and in Unix/MacOS is "/" and depending on your operating system you may get different resutls in the cell above. The Unix style path works on both operating systems whithin the Python environment and should be the __preferred__.  Recall that the \ is also an escape character and __NOT__ the preferred approach.

References:
- https://stackoverflow.com/questions/1589930/so-what-is-the-right-direction-of-the-paths-slash-or-under-windows

#### Working Directory Path Environment
[Return to Table of Contents](#Table-of-Contents)

In [4]:
print(os.environ["PATH"])

C:\Users\felix\anaconda3;C:\Users\felix\anaconda3\Library\mingw-w64\bin;C:\Users\felix\anaconda3\Library\usr\bin;C:\Users\felix\anaconda3\Library\bin;C:\Users\felix\anaconda3\Scripts;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\WINDOWS\System32\OpenSSH\;C:\Users\felix\AppData\Local\Microsoft\WindowsApps;

In [5]:
# If in Windows, the home environment/folder will not work. See next cell.
print(os.environ["HOME"])

KeyError: 'HOME'

In [6]:
#If in Windows need to use the follwoing instead of os.environ["HOME"]
home_folder = os.path.expanduser('~')
print(home_folder)

C:\Users\felix

In [7]:
# Current working directory.
os.getcwd()

'C:\\Felix_ASUS_Docs\\1A_Python_Projects\\DATA601_Files\\Lecture09'

#### Working in the Directory
[Return to Table of Contents](#Table-of-Contents)

In [8]:
# List of everything in the present directory (Note: Does not include files in subfolders)
os.listdir(path='.')

['.ipynb_checkpoints',
 '19_Working_wFiles.ipynb',
 '20_Working_with_WebData_and_APIs.ipynb',
 '21a_SQL_DB_Test_File_Creation.ipynb',
 '21b_Relational_Databases_and_SQL.ipynb',
 'database.sqlite',
 'input_data',
 'output_data',
 'test_file.txt',
 'test_folder']

In [9]:
# run the command mkdir (make a directory) in the system shell
os.system('mkdir test_folder')

1

In [10]:
# list everything in the present directory
os.listdir(path='.')

['.ipynb_checkpoints',
 '19_Working_wFiles.ipynb',
 '20_Working_with_WebData_and_APIs.ipynb',
 '21a_SQL_DB_Test_File_Creation.ipynb',
 '21b_Relational_Databases_and_SQL.ipynb',
 'database.sqlite',
 'input_data',
 'output_data',
 'test_file.txt',
 'test_folder']

In [11]:
# now we have a new folder called "test_folder". let's go into that directory
os.chdir('./test_folder/')

In [12]:
os.getcwd()

'C:\\Felix_ASUS_Docs\\1A_Python_Projects\\DATA601_Files\\Lecture09\\test_folder'

In [13]:
# let's go back to previous folder
os.chdir('./..')
os.getcwd()

'C:\\Felix_ASUS_Docs\\1A_Python_Projects\\DATA601_Files\\Lecture09'

In [14]:
os.system('mkdir test_folder2')

0

In [15]:
# let's create a folder inside the test_folder2
#os.system('mkdir test_folder2/test_subfolder1')

# Alternatively to os.system, we can use the os.mkdir.
os.mkdir('test_folder2/test_subfolder1')

In [16]:
# let's list subdirectories using the pathlib library
p = pathlib.Path('.') # current directory
for x in p.iterdir():
    if x.is_dir():
        print(x)

.ipynb_checkpoints
input_data
output_data
test_folder
test_folder2

In [17]:
# CREATING A FILE AT CURRENT DIRECTORY
f = open('test_file.txt',"w+")

# WRITING IN A FILE
for x in range(10):
    f.write("This is line %d\r\n" % (x+1))
    
# CLOSING A FILE
f.close()

In [18]:
# OPENING AN EXISTING FILE AND APPENDING IT
g = open("test_file.txt","+a")

for x in range(5):
    g.write("Appended line %d\r\n" % (x+1))

g.close()

In [19]:
# READING A LOCAL FILE LINE BY LINE (More on this in later sections).
# See section "Reading Data Line By Line"
with open('test_file.txt','r') as h:
    for line in h:
        print(line.rstrip('\n'))

This is line 1

This is line 2

This is line 3

This is line 4

This is line 5

This is line 6

This is line 7

This is line 8

This is line 9

This is line 10

Appended line 1

Appended line 2

Appended line 3

Appended line 4

Appended line 5

In [20]:
# let's list subdirectories (if any) using the pathlib library
p = pathlib.Path('.') # current directory
for x in p.iterdir():
    if x.is_dir():
        print(x)

.ipynb_checkpoints
input_data
output_data
test_folder
test_folder2

In [21]:
# Let's remove the two directories that we created.
os.rmdir('test_folder')
os.rmdir('test_folder2') # Will give an error because the folder is not empty.

OSError: [WinError 145] The directory is not empty: 'test_folder'

In [22]:
# To remove directory and subdirectories use the shutil library
shutil.rmtree('./test_folder2')

In [23]:
# Let's list subdirectories (if any) using the pathlib library
p = pathlib.Path('.') # current directory
for x in p.iterdir():
    if x.is_dir():
        print(x)

.ipynb_checkpoints
input_data
output_data
test_folder

Using the glob library let's list all the txt files in this folder and subfolders using the glob library. The glob module finds all the pathnames matching a specified pattern according to the rules used by the Unix shell, although results are returned in arbitrary order. 

Documentation References:
- https://docs.python.org/3/library/glob.html

In [24]:
glob.glob('**/*.txt', recursive=True)

['test_file.txt',
 'input_data\\anotherfile.txt',
 'input_data\\bread.txt',
 'input_data\\ex1data1.txt',
 'input_data\\text_files\\example3.txt',
 'input_data\\text_files\\FAME.TXT',
 'input_data\\text_files\\Genescan.txt',
 'output_data\\anotherfile.txt',
 'output_data\\json_data.txt',
 'output_data\\textout.txt',
 'test_folder\\test_file.txt']

Another option to obtain all the files in the directory is to use the os.walk() function.

Documentation References:
- os.walk(): https://docs.python.org/3/library/os.html

In [25]:
all_files_tuple = [x for x in os.walk(top = './')] # Produces a 3-tuple of (dirpath, dirnames, filenames)

all_files_dir = [] # Defines a starting empty list for the all_files_dir.

for i in range(len(all_files_tuple)): # Iterates thru each index or element in all_files_tuple.
    # Iterates thru files in dir and only select files in directory with specified extension (case insensitive).
    txt_files = [filename for filename in os.listdir(all_files_tuple[i][0]) if filename.lower().endswith('.txt'.lower())]
    # Combines both the relative path and filename
    txt_files = [all_files_tuple[i][0] +'/'+ filename  for filename in txt_files]
    # Consolidates all files from the path being iterated into the main list.
    all_files_dir = all_files_dir + txt_files

In [26]:
all_files_tuple

[('./',
  ['.ipynb_checkpoints', 'input_data', 'output_data', 'test_folder'],
  ['19_Working_wFiles.ipynb',
   '20_Working_with_WebData_and_APIs.ipynb',
   '21a_SQL_DB_Test_File_Creation.ipynb',
   '21b_Relational_Databases_and_SQL.ipynb',
   'database.sqlite',
   'test_file.txt']),
 ('./.ipynb_checkpoints',
  [],
  ['19_Working_wFiles-checkpoint.ipynb',
   '20_Working_with_WebData_and_APIs-checkpoint.ipynb',
   '20_Working_with_WebData_and_APIs-Copy1-checkpoint.ipynb',
   '21a_SQL_DB_Test_File_Creation-checkpoint.ipynb',
   '21b_Relational_Databases_and_SQL-checkpoint.ipynb',
   '21_Pandas_Relational_Data_Overview-checkpoint.ipynb']),
 ('./input_data',
  ['airline_data', 'electricity_use_data_cleaned', 'text_files'],
  ['addresses.csv',
   'anotherfile.txt',
   'bread.txt',
   'csv_plain_file.csv',
   'ex1data1.txt',
   'geo_data.json',
   'NRC_ASP_DATA_from_Public_ASP_Dashboard.csv']),
 ('./input_data\\airline_data',
  [],
  ['airlines.csv', 'airports.csv', 'flights.csv']),
 ('./input_data\\electricity_use_data_cleaned',
  [],
  ['20737_1006_electric_singlefamily_primary_cleaned.csv',
   '20871_2400_GAS_TOWNHOUSE_PRIMARY_cleaned.csv',
   '20871_3200_electric_singlefamily_primary_cleaned.csv',
   '20874_NA_ELECTRIC_Apartiment_PRIMARY_cleaned.csv',
   '20904_1700_ELECTRIC_TOWNHOUSE_PRIMARY_cleaned.csv',
   'ZIPCODE_SQFEET_HEATERTYPE_HOUSETYPE_HOUSEUSAGE-TEMPLATE.csv']),
 ('./input_data\\text_files',
  [],
  ['example3.txt', 'FAME.TXT', 'Genescan.txt']),
 ('./output_data',
  ['airline_data', 'API_initial_download'],
  ['anotherfile.txt', 'dataout1.csv', 'json_data.txt', 'textout.txt']),
 ('./output_data\\airline_data',
  [],
  ['df_flights_cleaned_2.csv', 'flights_database.db']),
 ('./output_data\\API_initial_download',
  [],
  ['fed_register_data_accident.json', 'fed_register_data_weather.json']),
 ('./test_folder', [], ['test_file.txt'])]

In [27]:
all_files_dir # The output here is similar to the output in the glob.glob.

['.//test_file.txt',
 './input_data/anotherfile.txt',
 './input_data/bread.txt',
 './input_data/ex1data1.txt',
 './input_data\\text_files/example3.txt',
 './input_data\\text_files/FAME.TXT',
 './input_data\\text_files/Genescan.txt',
 './output_data/anotherfile.txt',
 './output_data/json_data.txt',
 './output_data/textout.txt',
 './test_folder/test_file.txt']

In [28]:
# Let's find files that are in subfolders only.
sub_folders = [] # Defines a starting empty List of subfolder names that will have specified file type (e.g., csv).

# Iterates thru all file directories to extract Folder name. Located at all_files_dir[i].split('/')[2]
for i in range(len(all_files_dir)):
    sub_folders = sub_folders + [all_files_dir[i].split('/')[2]]
sub_folders = list(set(sub_folders)) # Creates unique list of files in subfolders by removing duplicates.

In [29]:
sub_folders # List of files in subfolders (No duplicates) Can remove the set if there would be duplicate names.

['bread.txt',
 'ex1data1.txt',
 'anotherfile.txt',
 'FAME.TXT',
 'example3.txt',
 'json_data.txt',
 'textout.txt',
 'test_file.txt',
 'Genescan.txt']

In [30]:
# Let's remove the test_file.txt that we created earlier and check the txt files in the directory.
os.remove('./test_file.txt')
glob.glob('**/*.txt', recursive=True)

['input_data\\anotherfile.txt',
 'input_data\\bread.txt',
 'input_data\\ex1data1.txt',
 'input_data\\text_files\\example3.txt',
 'input_data\\text_files\\FAME.TXT',
 'input_data\\text_files\\Genescan.txt',
 'output_data\\anotherfile.txt',
 'output_data\\json_data.txt',
 'output_data\\textout.txt',
 'test_folder\\test_file.txt']

# Pandas: Working with Multiple Files
[Return to Table of Contents](#Table-of-Contents)

Up to this moment we have used Pandas to load data from a single file and in a few cases join/merge/concatenate with data from another file. As a data scientist you will have to work with data in multiple files and in many cases you will need to consolidate, merge, or concatenate to make the dataset more useful. This section discusses some examples on working with multiple files using OS and Pandas library.

#### Reading Multiple CSV Files and Pandas: Electricity Use Data Example
[Return to Table of Contents](#Table-of-Contents)

When reading and extracting data from multiple files there may be various ways. In this case we will explore extracting data from the electricity use data that we collected at the beginning of the class and explore various challenges that we may encounter when processing the data files. More often than not, when the data was collected manually by various people there may be differences in the files that may provide challenges on how the data is extracted.

The first step is to manually get familiarized with the datasets as well as the columns and features collected. Once the feature names are explored and normalized (i.e., made the same) we can continue to merge the datasets and extract any data that we may need to extract from the filename or the metadata.

In [31]:
# See Documentation for os.walk(): https://docs.python.org/3/library/os.html
# Produces a 3-tuple of (dirpath, dirnames, filenames)
all_files_tuple = [x for x in os.walk(top = './input_data/electricity_use_data_cleaned/')] # Produces a 3-tuple of (dirpath, dirnames, filenames)
all_files_tuple

[('./input_data/electricity_use_data_cleaned/',
  [],
  ['20737_1006_electric_singlefamily_primary_cleaned.csv',
   '20871_2400_GAS_TOWNHOUSE_PRIMARY_cleaned.csv',
   '20871_3200_electric_singlefamily_primary_cleaned.csv',
   '20874_NA_ELECTRIC_Apartiment_PRIMARY_cleaned.csv',
   '20904_1700_ELECTRIC_TOWNHOUSE_PRIMARY_cleaned.csv',
   'ZIPCODE_SQFEET_HEATERTYPE_HOUSETYPE_HOUSEUSAGE-TEMPLATE.csv'])]

In [32]:
# Call the list of the file names.
all_files_tuple[0][2]

['20737_1006_electric_singlefamily_primary_cleaned.csv',
 '20871_2400_GAS_TOWNHOUSE_PRIMARY_cleaned.csv',
 '20871_3200_electric_singlefamily_primary_cleaned.csv',
 '20874_NA_ELECTRIC_Apartiment_PRIMARY_cleaned.csv',
 '20904_1700_ELECTRIC_TOWNHOUSE_PRIMARY_cleaned.csv',
 'ZIPCODE_SQFEET_HEATERTYPE_HOUSETYPE_HOUSEUSAGE-TEMPLATE.csv']

In [33]:
# Goal: I want to obtain a list of the specified type file (e.g., csv) with their relative directory to later iterate thru.
all_files_dir = [] # Defines a starting empty list for the all_files_dir.
sub_folders = [] # Defines a starting empty List of subfolder names that will have specified file type (e.g., csv).

for i in range(len(all_files_tuple)): # Iterates thru each index or element in all_files_tuple.
    # Iterates thru files in dir and only select files in directory with specified extension (case insensitive).
    csv_files = [filename for filename in os.listdir(all_files_tuple[i][0]) if filename.lower().endswith('.csv'.lower())]
    # Combines both the relative path and filename
    csv_files = [all_files_tuple[i][0] +'/'+ filename  for filename in csv_files]
    # Consolidates all files from the path being iterated into the main list.
    all_files_dir = all_files_dir + csv_files
    
# Iterates thru all file directories to extract Folder name. Located at all_files_dir[i].split('/')[2]
#for i in range(len(all_files_dir)):
    sub_folders = sub_folders + [all_files_dir[i].split('/')[2]]   
sub_folders = set(sub_folders) # Creates unique list of subfolders by removing duplicates.
# The subfolders could mean a year a location a zipcode or some other important information.
# Because there are no subfolders in the input_data/electricity_use_data_cleaned this will be an empty list.

# Checks if final list has not duplicate files.
print(f'List has no duplicate files: {len(all_files_dir) == len(set(all_files_dir))}.')
print(f'There are {len(all_files_dir)} specified file type (e.g., csv).') # Shows how many files are in the final list.
print(f'Unique subfolders with specified file type (e.g., csv): {sub_folders}.') # Show list of sub-folders.
print(f'Sample of three files: {all_files_dir[:3]}.') # Shows only the first 3 files in the list.

List has no duplicate files: True.
There are 6 specified file type (e.g., csv).
Unique subfolders with specified file type (e.g., csv): {'electricity_use_data_cleaned'}.
Sample of three files: ['./input_data/electricity_use_data_cleaned//20737_1006_electric_singlefamily_primary_cleaned.csv', './input_data/electricity_use_data_cleaned//20871_2400_GAS_TOWNHOUSE_PRIMARY_cleaned.csv', './input_data/electricity_use_data_cleaned//20871_3200_electric_singlefamily_primary_cleaned.csv'].

In [34]:
all_files_dir # In this case there are only a handful of files so we can see the full list.

['./input_data/electricity_use_data_cleaned//20737_1006_electric_singlefamily_primary_cleaned.csv',
 './input_data/electricity_use_data_cleaned//20871_2400_GAS_TOWNHOUSE_PRIMARY_cleaned.csv',
 './input_data/electricity_use_data_cleaned//20871_3200_electric_singlefamily_primary_cleaned.csv',
 './input_data/electricity_use_data_cleaned//20874_NA_ELECTRIC_Apartiment_PRIMARY_cleaned.csv',
 './input_data/electricity_use_data_cleaned//20904_1700_ELECTRIC_TOWNHOUSE_PRIMARY_cleaned.csv',
 './input_data/electricity_use_data_cleaned//ZIPCODE_SQFEET_HEATERTYPE_HOUSETYPE_HOUSEUSAGE-TEMPLATE.csv']

After we know the file paths for the data that we want, we have various options:
1. We can initialize the main dataframe by creating a new blank dataframe with the required columns 
2. Use the columns from the TEMPLATE but we also need to add the columns related to the file names.

However, before attempting this we should manually open a few of the CSV files to see if we can spot potential challenges or problems. The original files submitted by students can be found under 'Homework/Special_HW_Home_Electricity_Consumption' folder. The files in the input_data/electricity_use_data_cleaned has been manually fixed. Issues that we can observe in the data:
- Different date formats
- Some dataframes used a date range while others estimated the month and year. 
- Some others added extra data that seemed to be available.
- Issues with column naming.

Note that the instructions were vague on purpose to demonstrate potential issues that may arise during the data collection stage. Even when instructions are clear you will encounter challenges like this. Coordinating during data collection can make improvements in the quality of the data and improve the insights when it is analyzed. Issues in the data collection can sometimes cause that the data is unusable and having to be discarded. 

There are a few things that we can do to solve the issue.
1. If we only had a handful of files we can manually make the change (which is the case here). In some cases we may have to do some assumptions to make the data usable.
2. If we had lots of files (e.g., hundreds) we may need to create an if statement that detects the type of file issue, then do either of:
    a. fix the issue before extracting
    b. extract the data from the appropriate location

Another issue that we could probably see is that given the current structure of the dataset, there will be a high likelihood that we may have duplicates in the data. For example, if we obtain more data, there is a high likelihood that our neighbors data may be very similar and in case of the filenaming exactly the same. This will cause issues as the operating systems do not allow files to have the same filename. The address could have been a good addition to the filename to avoid this. 

Depending on the issue addressing them may be easy, to very difficult to impossible. Option 2 above assumes that the issues is consistent within various files and that the majority of the data collected was using the correct template or format and hence the issue can use an if statement to be identified.. Imagine having this issues accross hundreds of files that we need to process.

In [35]:
# Let's explore the TEMPLATE dataframe, other files and explore their columns.
# Note that the columns are in the first row.
i = -1 # Use from -1 to zero to postive.
print(csv_files[i])
pd.read_csv(csv_files[i], header = None).head(5)

./input_data/electricity_use_data_cleaned//ZIPCODE_SQFEET_HEATERTYPE_HOUSETYPE_HOUSEUSAGE-TEMPLATE.csv

      0            1                      2          3
0  Date  Bill Amount  Days in Billing Cycle  KWH Usage
1   NaN          NaN                    NaN        NaN
2   NaN          NaN                    NaN        NaN
3   NaN          NaN                    NaN        NaN
4   NaN          NaN                    NaN        NaN

In [36]:
# We want to combine all the dataframes with electricity use data including the data in the filename
# One approache could be to initialize a main empty dataframe where the data gets added with the right columns.
# Let's initialize an empty main DataFrame with the required columns.
df_electricity_usage = pd.DataFrame(columns = ['Zipcode', 'Home Square Footage', 'Heater Type', 'Home Type', 
                                               'Home Usage', 'Date', 'Bill Amount', 'Days in Billing Cycle', 
                                               'KWH Usage'])
# Note that some of the data will be in the filename while other data will be inside the file.
df_electricity_usage

Empty DataFrame
Columns: [Zipcode, Home Square Footage, Heater Type, Home Type, Home Usage, Date, Bill Amount, Days in Billing Cycle, KWH Usage]
Index: []

In [37]:
# Let's explore the data for file at index 0.
i = 0
file_name_list = csv_files[i].split("/")[4].split('_')
file_name_list

['20737', '1006', 'electric', 'singlefamily', 'primary', 'cleaned.csv']

In [38]:
testdf = pd.read_csv(csv_files[i], header = 0)
# We can add a column of the filename information with the insert function.
testdf.insert(0, "Home Usage", file_name_list[4])
testdf

   Home Usage            Date Bill Amount  Days in Billing Cycle  KWH Usage
0     primary   2021 December    $117.03                      32        857
1     primary    2022 January    $156.02                      27       1114
2     primary   2022 February     $98.69                      28        681
3     primary      2022 March     $78.70                      30        532
4     primary      2022 April     $67.62                      30        429
5     primary        2022 May    $144.69                      29        851
6     primary       2022 June    $226.59                      32       1436
7     primary       2022 July    $221.60                      27       1445
8     primary     2022 August    $235.64                      31       1436
9     primary  2022 September    $145.08                      30        884
10    primary    2022 October     $93.93                      28        566
11    primary   2022 November    $168.16                      29       1057

In [39]:
# We need to create a loop that iterates thru all the files.
for i in range(len(csv_files)):
    # Loading csv file as temporary df.
    tempdf = pd.read_csv(csv_files[i], header = 0) # Header located at row index 0.
    # Filename information in a list using underscore as delimiter.
    file_name_list = csv_files[i].split("/")[4].split('_')
    # Inserts the new columsn for Zipcode, Home Square Footage, Heater type, and Home Usage
    tempdf.insert(0, "Home Usage", file_name_list[4])
    tempdf.insert(0, "Home Type", file_name_list[3])
    tempdf.insert(0, "Heater Type", file_name_list[2])
    tempdf.insert(0, "Home Square Footage", file_name_list[1])
    tempdf.insert(0, "Zipcode", file_name_list[0])

    # Before concatenating, 
    # Let's check the tempdf has the same number of features as the main dataframe (e.g., df_electricity_usage).
    try:
        if all(df_electricity_usage.columns == tempdf.columns): # If columns don't match will give an error hnce the try-except.
            df_electricity_usage = pd.concat([df_electricity_usage, tempdf], axis=0) # Adds tempdf at bottom of main df.
    except:
        print(f'PROCESS STOPPED: Following file does not has the same features/columns:')
        print(f'{csv_files[i]}') # Prints the file with the issue.
        break # If there is a row that does not meet this condition for loop breaks

In [40]:
print(df_electricity_usage.shape)
df_electricity_usage#.head(60)
# Note there are 91 rows but the last row index is 12?
# Should have used or should use the reset_index.
# If this goes unnoticed you will potentially have issues later.

(91, 9)

,Zipcode,Home Square Footage,Heater Type,Home Type,Home Usage,Date,Bill Amount,Days in Billing Cycle,KWH Usage
0,20737,1006,electric,singlefamily,primary,2021 December,$117.03,32,857
1,20737,1006,electric,singlefamily,primary,2022 January,$156.02,27,1114
2,20737,1006,electric,singlefamily,primary,2022 February,$98.69,28,681
3,20737,1006,electric,singlefamily,primary,2022 March,$78.70,30,532
4,20737,1006,electric,singlefamily,primary,2022 April,$67.62,30,429
...,...,...,...,...,...,...,...,...,...
8,ZIPCODE,SQFEET,HEATERTYPE,HOUSETYPE,HOUSEUSAGE-TEMPLATE.csv,NaN,NaN,NaN,NaN
9,ZIPCODE,SQFEET,HEATERTYPE,HOUSETYPE,HOUSEUSAGE-TEMPLATE.csv,NaN,NaN,NaN,NaN
10,ZIPCODE,SQFEET,HEATERTYPE,HOUSETYPE,HOUSEUSAGE-TEMPLATE.csv,NaN,NaN,NaN,NaN
11,ZIPCODE,SQFEET,HEATERTYPE,HOUSETYPE,HOUSEUSAGE-TEMPLATE.csv,NaN,NaN,NaN,NaN
12,ZIPCODE,SQFEET,HEATERTYPE,HOUSETYPE,HOUSEUSAGE-TEMPLATE.csv,NaN,NaN,NaN,NaN

In [41]:
# What happens if I use an index based data selection and filter?
df_electricity_usage.iloc[0, 1] # Only seems to select the first index 0.

'1006'

In [42]:
df_electricity_usage.iloc[0:3, :] # Only seems to select the first index range 0 to 2.

,Zipcode,Home Square Footage,Heater Type,Home Type,Home Usage,Date,Bill Amount,Days in Billing Cycle,KWH Usage
0,20737,1006,electric,singlefamily,primary,2021 December,$117.03,32,857
1,20737,1006,electric,singlefamily,primary,2022 January,$156.02,27,1114
2,20737,1006,electric,singlefamily,primary,2022 February,$98.69,28,681

A few observations:
- Depending on the approach you used and your dataset it may be a good idea to check for duplicated values. If there are duplicated values check the source and if they are true duplicates.
- In the case above the repeated rows seem to be from the template. 
- Reset index is an invaluable tool especially when creating dataframes or copying a subset of a dataframe. There may be reasons to keep the original index dataframe (i.e., when you want to reference back. 

Once the data is combined we can use various of the functions we have learned to explore the data.

In [43]:
df_electricity_usage['Home Square Footage'].value_counts()
# Here we can see a few issues such as the SQFEET.

Home Square Footage
2400      27
3200      13
NA        13
1700      13
SQFEET    13
1006      12
Name: count, dtype: int64

Once the data is combined and cleaned into one dataframe we may want to export the combined dataframe as a CSV file, explore the data and evaluate if it needs further cleaning before using for analysis or model development. For example, the last rows in the df_electricity_usage were from the template and can be dropped and not needed. We also need to explore any issues that the dataset may have such as null values, duplicates, other data issues, and creating derived features as needed.

# Reading Data Line By Line
[Return to Table of Contents](#Table-of-Contents)

Many of the approaches below focus on reading data line by line. Loading and processing data line by line may be beneficial in some cases. This may be the case when a file may be too big to load locally in a computer or reading realtime data. In some cases, this approach may be more efficient (i.e., memory or processing perspective), make identifying error location easier, and allow reading a file in real-time. Note that in cases of large files other (better) options may include cloud environments where we may have more computational power at our disposal.

# Working with PDFs
[Return to Table of Contents](#Table-of-Contents)

There are various libraries that can read PDF's. Most common are PDFMiner and PyPDF2, however, none of the two are included in the Anaconda Python Distribution (potentially not as mature as other data science libraries). I have had the best experience converting the PDFs to HTML using Acrobat Pro (which requires a license) and then using an HTML Python library (like Beautifulsup) to extract the PDF text information which will include some information such as if the text is part of the heading, body, paragraph, etc. Other approaches may include converting to TXT and other type of files before processing. See the notebook '20_Working_with_WebData_and_API' for an example on working with PDF files.

# Python Built-In Functions for Loading Data (OPTIONAL)
[Return to Table of Contents](#Table-of-Contents)

Python has various built-in functions to work with files. This sections discusses the open function which is used to Open a file and return the corresponding file object. The function has various parameters including the file directory and mode. The mode specifies the function (e.g., reading, writing). The following are the options for the mode:
- 'r': open for reading (default)
- 'w': open for writing, truncating the file first
- 'x': open for exclusive creation, failing if the file already exists
- 'a': open for writing, appending to the end of file if it exists
- 'b' binary mode
- 't' text mode (default)
- '+' open for updating (reading and writing)

Documentation References:
- List of Python Built-in Functions https://docs.python.org/3/library/functions.html
- Open Function: https://docs.python.org/3/library/functions.html#open

## Open Function
[Return to Table of Contents](#Table-of-Contents)

In [44]:
f = open(file = "./input_data/bread.txt", mode = 'r')
for line in f:
    print(line)
f.close()

				Spent Grain Bread



	I got this recipe from the 1985 Grain Brewing Issue of Zymurgy magazine.  I tried it as is, and wit bananas added and found it to make a good heavy bread.  The original article is by Clifford T. Newmn Jr. and he requests any original recipies to be sent to him at P.O. Box 193, Port Matilda, PA  1680



	-4 C. fresh spent grains (from your latest batch of

	-1 C. water               all grain beer)

	-1/2 C. oil

	-1/2 C. sugar

	-1/4 tsp. salt

	-1 Tbsp. dry baker's yeast

	-All-purpose flour (enough to make a stiff dough)



	Place the spent grains and water into a blender or food processor and blend themn for 30 seconds. Ten put the blended grains in a large mixing bowl and add oil, sugar, salt and stir in the yeast. Addflour until you have a thick, workable dough. Put in a warm place to rise until doubled in size. The knead the dough and divide into three greased laof pans. Let the dough double in size again then bae in a preheated oven at 350 degrees for one hour and 15 minutes. Remove from oven and let cool on wre racks. Enjoy.



	For storing grains until ready to make the bread, place them one half inch deep in a shallow bakingdish or cookie sheet and put them into the oven at 200 degrees. Stir the grains about every half hou until they feel dry. Then store in tightly sealed containers. If you see any drops of moisture in te containers it means the grains need to be dried longer.



	Once dried, the grains will keep for a long time. They can be used dried or moist (fresh), and drie grains can be ground into flour. The recipe above is for moist (fresh) grains and if you are using ried grains, add on half cup of water for every four cups of grains in the recipe.



	I haven't tried the following recipe (yet) and am thinking of using wheat flour or flour from grain instead of white flour in my next batch of bread.



			Spent Grains Granola



	-6 C. fresh spent grains

	-4 C. raw sunflour seeds

	-2 C. weat germ

	-1 C. bran

	-1 1/2 C. non-fat dry milk

	-2 tsp. salt

	-3 Tbsp. cinnamon

	-3/4 C. molasses

	-1/2 C. honey

	-3 Tbsp. vanilla extract

	-2 C. each--coconut, raisins, chopped cashews



	Combine first seven ingredients in a large bowl and mix well. Blend molasses, honey and vanilla in  small bowl, then add to the grains, mixing well. Spreat 1/2 inch deep on a large baking pan and bak at 250 degrees until light brown, stirring occasionally. Turn onto paper-covered surface. Mix last hree ingredients and combine with granola. Store in tightly sealed containers.0















X-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-X



 Another file downloaded from:                               NIRVANAnet(tm)



 & the Temple of the Screaming Electron   Jeff Hunter          510-935-5845

 Rat Head                                 Ratsnatcher          510-524-3649

 Burn This Flag                           Zardoz               408-363-9766

 realitycheck                             Poindexter Fortran   415-567-7043

 Lies Unlimited                           Mick Freen           415-583-4102



   Specializing in conversations, obscure information, high explosives,

       arcane knowledge, political extremism, diversive sexuality,

       insane speculation, and wild rumours. ALL-TEXT BBS SYSTEMS.



  Full access for first-time callers.  We don't want to know who you are,

   where you live, or what your phone number is. We are not Big Brother.



                          "Raw Data for Raw Nerves"



X-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-X

In [45]:
# Open file at output_data/anotherfile.txt and delete the content.

a = []
for i in range(10):
    a.append("All work and no play makes Jack a dull boy. \nSecond Line. \n");
f = open("./output_data/anotherfile.txt", 'w')
for line in a:
    f.write(line)
f.close()

## With Statement
[Return to Table of Contents](#Table-of-Contents)

The "with" keyword sets up a Context Manager, which temporarily deals with how the code runs. In this case, it closes the file automatically when the clause is left. 

Documentation References:
- With Statement: https://docs.python.org/3/reference/compound_stmts.html#the-with-statement
- Compound statements: https://docs.python.org/3/reference/compound_stmts.html

In [46]:
# Same as before but using the breadd.txt file and list comprehensions and printing only up to line 4.
lines = []

with open('./input_data/bread.txt') as f:
    lines = [line for line in f]
print(lines[:4])

['\t\t\t\tSpent Grain Bread\n', '\n', '\tI got this recipe from the 1985 Grain Brewing Issue of Zymurgy magazine.  I tried it as is, and wit bananas added and found it to make a good heavy bread.  The original article is by Clifford T. Newmn Jr. and he requests any original recipies to be sent to him at P.O. Box 193, Port Matilda, PA  1680\n', '\n']

In [47]:
type(lines) # Still returns a list object.

list

In [48]:
# To remove the new line characters (\n) can use a .rstrip() function within the for loop.
# To remove the tab character (\t) can use a .lstrip() function for loop.
# To remove both can use the strip in the for loop.
lines = []

with open('./input_data/bread.txt') as f:
    lines = [line.strip() for line in f]

print(lines[:4])

['Spent Grain Bread', '', 'I got this recipe from the 1985 Grain Brewing Issue of Zymurgy magazine.  I tried it as is, and wit bananas added and found it to make a good heavy bread.  The original article is by Clifford T. Newmn Jr. and he requests any original recipies to be sent to him at P.O. Box 193, Port Matilda, PA  1680', '']

#### Example with Numerical Data in a TXT File
[Return to Table of Contents](#Table-of-Contents)

In [49]:
with open("./input_data/ex1data1.txt") as f:
    for line in f:
        print(line)

6.1101,17.592

5.5277,9.1302

8.5186,13.662

7.0032,11.854

5.8598,6.8233

8.3829,11.886

7.4764,4.3483

8.5781,12

6.4862,6.5987

5.0546,3.8166

5.7107,3.2522

14.164,15.505

5.734,3.1551

8.4084,7.2258

5.6407,0.71618

5.3794,3.5129

6.3654,5.3048

5.1301,0.56077

6.4296,3.6518

7.0708,5.3893

6.1891,3.1386

20.27,21.767

5.4901,4.263

6.3261,5.1875

5.5649,3.0825

18.945,22.638

12.828,13.501

10.957,7.0467

13.176,14.692

22.203,24.147

5.2524,-1.22

6.5894,5.9966

9.2482,12.134

5.8918,1.8495

8.2111,6.5426

7.9334,4.5623

8.0959,4.1164

5.6063,3.3928

12.836,10.117

6.3534,5.4974

5.4069,0.55657

6.8825,3.9115

11.708,5.3854

5.7737,2.4406

7.8247,6.7318

7.0931,1.0463

5.0702,5.1337

5.8014,1.844

11.7,8.0043

5.5416,1.0179

7.5402,6.7504

5.3077,1.8396

7.4239,4.2885

7.6031,4.9981

6.3328,1.4233

6.3589,-1.4211

6.2742,2.4756

5.6397,4.6042

9.3102,3.9624

9.4536,5.4141

8.8254,5.1694

5.1793,-0.74279

21.279,17.929

14.908,12.054

18.959,17.054

7.2182,4.8852

8.2951,5.7442

10.236,7.7754

5.4994,1.0173

20.341,20.992

10.136,6.6799

7.3345,4.0259

6.0062,1.2784

7.2259,3.3411

5.0269,-2.6807

6.5479,0.29678

7.5386,3.8845

5.0365,5.7014

10.274,6.7526

5.1077,2.0576

5.7292,0.47953

5.1884,0.20421

6.3557,0.67861

9.7687,7.5435

6.5159,5.3436

8.5172,4.2415

9.1802,6.7981

6.002,0.92695

5.5204,0.152

5.0594,2.8214

5.7077,1.8451

7.6366,4.2959

5.8707,7.2029

5.3054,1.9869

8.2934,0.14454

13.394,9.0551

5.4369,0.61705

In [50]:
type(line) # Note that the line variable is a string.

str

In [51]:
lines = [] # Initializing an empty list.

with open("./input_data/ex1data1.txt") as f:
    for line in f:
        lines.append(line)
print(lines)

['6.1101,17.592\n', '5.5277,9.1302\n', '8.5186,13.662\n', '7.0032,11.854\n', '5.8598,6.8233\n', '8.3829,11.886\n', '7.4764,4.3483\n', '8.5781,12\n', '6.4862,6.5987\n', '5.0546,3.8166\n', '5.7107,3.2522\n', '14.164,15.505\n', '5.734,3.1551\n', '8.4084,7.2258\n', '5.6407,0.71618\n', '5.3794,3.5129\n', '6.3654,5.3048\n', '5.1301,0.56077\n', '6.4296,3.6518\n', '7.0708,5.3893\n', '6.1891,3.1386\n', '20.27,21.767\n', '5.4901,4.263\n', '6.3261,5.1875\n', '5.5649,3.0825\n', '18.945,22.638\n', '12.828,13.501\n', '10.957,7.0467\n', '13.176,14.692\n', '22.203,24.147\n', '5.2524,-1.22\n', '6.5894,5.9966\n', '9.2482,12.134\n', '5.8918,1.8495\n', '8.2111,6.5426\n', '7.9334,4.5623\n', '8.0959,4.1164\n', '5.6063,3.3928\n', '12.836,10.117\n', '6.3534,5.4974\n', '5.4069,0.55657\n', '6.8825,3.9115\n', '11.708,5.3854\n', '5.7737,2.4406\n', '7.8247,6.7318\n', '7.0931,1.0463\n', '5.0702,5.1337\n', '5.8014,1.844\n', '11.7,8.0043\n', '5.5416,1.0179\n', '7.5402,6.7504\n', '5.3077,1.8396\n', '7.4239,4.2885\n', '7.6031,4.9981\n', '6.3328,1.4233\n', '6.3589,-1.4211\n', '6.2742,2.4756\n', '5.6397,4.6042\n', '9.3102,3.9624\n', '9.4536,5.4141\n', '8.8254,5.1694\n', '5.1793,-0.74279\n', '21.279,17.929\n', '14.908,12.054\n', '18.959,17.054\n', '7.2182,4.8852\n', '8.2951,5.7442\n', '10.236,7.7754\n', '5.4994,1.0173\n', '20.341,20.992\n', '10.136,6.6799\n', '7.3345,4.0259\n', '6.0062,1.2784\n', '7.2259,3.3411\n', '5.0269,-2.6807\n', '6.5479,0.29678\n', '7.5386,3.8845\n', '5.0365,5.7014\n', '10.274,6.7526\n', '5.1077,2.0576\n', '5.7292,0.47953\n', '5.1884,0.20421\n', '6.3557,0.67861\n', '9.7687,7.5435\n', '6.5159,5.3436\n', '8.5172,4.2415\n', '9.1802,6.7981\n', '6.002,0.92695\n', '5.5204,0.152\n', '5.0594,2.8214\n', '5.7077,1.8451\n', '7.6366,4.2959\n', '5.8707,7.2029\n', '5.3054,1.9869\n', '8.2934,0.14454\n', '13.394,9.0551\n', '5.4369,0.61705\n']

In [52]:
type(lines) # Notes that in this case the lines are a list and can be accessed by element.

list

In this case where each line is two columns of data we may need to use a different approach. 

We can use the split function to separate the nubmers by the comma and may also need to change the string to a number (i.e., float in this case). Could later use Pandas and transform the data to a dataframe.

Continue to the OS Library below to see how to process the data in this example.

In [53]:
f = open("./input_data/ex1data1.txt")
data = []

for line in f:
    parsed_line = str.split(line,",") # Line or row of data in this example.
    data_line = []
    for element in parsed_line:
        data_line.append(float(element))
    data.append(data_line)
print(data)
f.close()

# This produces a list within list where the inner list is the two columsn of data and the outer is the row.

[[6.1101, 17.592], [5.5277, 9.1302], [8.5186, 13.662], [7.0032, 11.854], [5.8598, 6.8233], [8.3829, 11.886], [7.4764, 4.3483], [8.5781, 12.0], [6.4862, 6.5987], [5.0546, 3.8166], [5.7107, 3.2522], [14.164, 15.505], [5.734, 3.1551], [8.4084, 7.2258], [5.6407, 0.71618], [5.3794, 3.5129], [6.3654, 5.3048], [5.1301, 0.56077], [6.4296, 3.6518], [7.0708, 5.3893], [6.1891, 3.1386], [20.27, 21.767], [5.4901, 4.263], [6.3261, 5.1875], [5.5649, 3.0825], [18.945, 22.638], [12.828, 13.501], [10.957, 7.0467], [13.176, 14.692], [22.203, 24.147], [5.2524, -1.22], [6.5894, 5.9966], [9.2482, 12.134], [5.8918, 1.8495], [8.2111, 6.5426], [7.9334, 4.5623], [8.0959, 4.1164], [5.6063, 3.3928], [12.836, 10.117], [6.3534, 5.4974], [5.4069, 0.55657], [6.8825, 3.9115], [11.708, 5.3854], [5.7737, 2.4406], [7.8247, 6.7318], [7.0931, 1.0463], [5.0702, 5.1337], [5.8014, 1.844], [11.7, 8.0043], [5.5416, 1.0179], [7.5402, 6.7504], [5.3077, 1.8396], [7.4239, 4.2885], [7.6031, 4.9981], [6.3328, 1.4233], [6.3589, -1.4211], [6.2742, 2.4756], [5.6397, 4.6042], [9.3102, 3.9624], [9.4536, 5.4141], [8.8254, 5.1694], [5.1793, -0.74279], [21.279, 17.929], [14.908, 12.054], [18.959, 17.054], [7.2182, 4.8852], [8.2951, 5.7442], [10.236, 7.7754], [5.4994, 1.0173], [20.341, 20.992], [10.136, 6.6799], [7.3345, 4.0259], [6.0062, 1.2784], [7.2259, 3.3411], [5.0269, -2.6807], [6.5479, 0.29678], [7.5386, 3.8845], [5.0365, 5.7014], [10.274, 6.7526], [5.1077, 2.0576], [5.7292, 0.47953], [5.1884, 0.20421], [6.3557, 0.67861], [9.7687, 7.5435], [6.5159, 5.3436], [8.5172, 4.2415], [9.1802, 6.7981], [6.002, 0.92695], [5.5204, 0.152], [5.0594, 2.8214], [5.7077, 1.8451], [7.6366, 4.2959], [5.8707, 7.2029], [5.3054, 1.9869], [8.2934, 0.14454], [13.394, 9.0551], [5.4369, 0.61705]]

In [54]:
type(data)

list

In [55]:
len(data) # Think number of rows.

97

In [56]:
len(data[0]) # Think number of columns.

2

In [57]:
type(data[0]) # Row of data.

list

In [58]:
print(type(data[0][0])) # Element within row of data.
print(data[0][0])

<class 'float'>
6.1101

# JSON Library: JSON Files (OPTIONAL) 
[Return to Table of Contents](#Table-of-Contents)

In previous lectures we have explored how to export dictionary (i.e., JSON) to a Pandas Dataframes and viceversa. This section provide furhter examples on how to work with JSON data using the JSON library.

In [59]:
# Writing JSON to a FILE
data = {}  
data['people'] = []  
data['people'].append({  
    'name': 'Scott',
    'website': 'umbc.edu',
    'from': 'Maryland'
})
data['people'].append({  
    'name': 'Larry',
    'website': 'google.com',
    'from': 'Michigan'
})
data['people'].append({  
    'name': 'Tim',
    'website': 'apple.com',
    'from': 'Alabama'
})
#!mkdir outputs
with open('./output_data/json_data.txt', 'w') as outfile:
    json.dump(data, outfile)

In [60]:
# Reading JSON from a TXT File
with open('./output_data/json_data.txt') as json_file:  
    data = json.load(json_file)
    for p in data['people']:
        print('Name: ' + p['name'])
        print('Website: ' + p['website'])
        print('From: ' + p['from'])
        print('')

Name: Scott
Website: umbc.edu
From: Maryland

Name: Larry
Website: google.com
From: Michigan

Name: Tim
Website: apple.com
From: Alabama

In [61]:
type(data)

dict

In [62]:
# JSON Read
f = open('./input_data/geo_data.json')
data = json.load(f)
f.close()    
print(data)
print('____________________________________')
print(data["features"])
print('____________________________________')
print(data["features"][0]["geometry"])
print('____________________________________')
for i in data["features"]:
    print(i["geometry"]["coordinates"][0])

{'type': 'FeatureCollection', 'features': [{'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [42.0, 21.0]}, 'properties': {'prop0': 'value0'}}]}
____________________________________
[{'type': 'Feature', 'geometry': {'type': 'Point', 'coordinates': [42.0, 21.0]}, 'properties': {'prop0': 'value0'}}]
____________________________________
{'type': 'Point', 'coordinates': [42.0, 21.0]}
____________________________________
42.0

# Working with CSV Files (CSV Library)
[Return to Table of Contents](#Table-of-Contents)

Note that previously we have learned to work with CSV data using the Pandas library and the Pandas library is the prefered approach. However, the CSV library exists and can be usefule too.

In [63]:
f = open('./input_data/csv_plain_file.csv', newline='') 
reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
for row in reader: # A list of rows
    for value in row: # A list of value
        print(value) # Floats
f.close() # Don't close until you are done with the reader;

10,10,50,50,10, "12", A
10,50,50,10,10, "12", "A"
25,25,75,75,25, "12", "A"
25,75,75,25,25, "12", "A"
50,50,100,100,50, "12", "A"
50,100,100,50,50, "12", "A",6

In [64]:
with open('./input_data/addresses.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    firstnames, lastnames, streets, citys, states,zipcodes = [], [], [],[], [], []
        
    for row in readCSV:
        firstname, lastname, street = row[0], row[1], row[2] 
        city, state, zipcode  = row[3], row[4], row[5]  

        firstnames.append(firstname)
        lastnames.append(lastname)
        zipcodes.append(zipcode)

    print(firstnames)
    print(lastnames)
    print(zipcodes)

['John', 'Jack', 'John "Da Man"', 'Stephen', '', 'Joan "the bone", Anne']
['Doe', 'McGinnis', 'Repici', 'Tyler', 'Blankman', 'Jet']
[' 08075', '09119', '08075', ' 91234', ' 00298', '00123']

In [65]:
# let's create a new csv file from an existing one
# New file will contain only the information that we want/need
f2 = open('./output_data/dataout1.csv', 'w', newline='') 
writer = csv.writer(f2, delimiter=',')

with open('./input_data/addresses.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    firstnames, lastnames, streets, citys, states,zipcodes = [], [], [],[], [], []
        
    for row in readCSV:
        firstname, lastname, street = row[0], row[1], row[2] 
        city, state, zipcode  = row[3], row[4], row[5]
        data2write = (firstname,lastname,state)
        print(data2write)
        writer.writerow(data2write)
        
    f2.close()

('John', 'Doe', ' NJ')
('Jack', 'McGinnis', ' PA')
('John "Da Man"', 'Repici', ' NJ')
('Stephen', 'Tyler', 'SD')
('', 'Blankman', ' SD')
('Joan "the bone", Anne', 'Jet', 'CO')

In [66]:
# Let's read csv and write txt

with open('./input_data/addresses.csv') as csvfile:
    f2 = open("./output_data/textout.txt", "w")

    readCSV = csv.reader(csvfile, delimiter=',')
    firstnames, lastnames, streets, citys, states,zipcodes = [], [], [],[], [], []
        
    for row in readCSV:
        firstname, lastname, street = row[0], row[1], row[2] 
        city, state, zipcode  = row[3], row[4], row[5]
        text2write = firstname+' lives in '+ city +', '+state
        print(text2write)
        f2.write(text2write+'\n')
        
    f2.close()

John lives in Riverside,  NJ
Jack lives in Phila,  PA
John "Da Man" lives in Riverside,  NJ
Stephen lives in SomeTown, SD
 lives in SomeTown,  SD
Joan "the bone", Anne lives in Desert City, CO

# Reading Multiple TXT Files (OPTIONAL)
[Return to Table of Contents](#Table-of-Contents)

In [67]:
# With Fileinput library
a = ["./input_data/text_files/example3.txt", 
     "./input_data/text_files/Genescan.txt", 
     "./input_data/text_files/FAME.txt"]
b = fileinput.input(a)
for line in b:
    print(b.filename())
    print(line)
b.close()

./input_data/text_files/example3.txt
Xanthomonas	campestris	hyacinthi	LMG739	1	5	8	4	3	2	4	1

./input_data/text_files/example3.txt
Xanthomonas	campestris	campestris	LMG568	3	5	6	2	3	1	4	3

./input_data/text_files/example3.txt
Xanthomonas	campestris	phaseoli	LMG803	2	4	7	4	1	2	3	2

./input_data/text_files/example3.txt
Xanthomonas	campestris	hyacinthi	LMG946	2	3	6	2	1	0	1	0

./input_data/text_files/Genescan.txt
Sample file	Band no.	Run time	Size	Height	Area	Run time

./input_data/text_files/Genescan.txt
15B	1	35.40	70.43	216	1111	354

./input_data/text_files/Genescan.txt
15B	2	36.90	76.86	252	1318	369

./input_data/text_files/Genescan.txt
15B	3	55.40	154.72	717	5726	554

./input_data/text_files/Genescan.txt
15B	4	62.20	183.46	120	1520	622

./input_data/text_files/Genescan.txt
15B	5	70.00	215.72	1644	12165	700

./input_data/text_files/Genescan.txt
15B	6	78.40	251.33	1113	6840	784

./input_data/text_files/Genescan.txt
15B	7	94.40	324.17	196	1141	944

./input_data/text_files/Genescan.txt
15B	8	95.20	327.98	110	730	952

./input_data/text_files/Genescan.txt
15B	9	97.50	339.02	130	678	975

./input_data/text_files/Genescan.txt
15B	10	101.80	360.01	101	387	1018

./input_data/text_files/Genescan.txt
15B	11	109.30	398.24	437	4151	1093

./input_data/text_files/Genescan.txt
15B	12	112.80	416.93	145	1511	1128

./input_data/text_files/Genescan.txt
15B	13	121.30	464.73	160	1004	1213

./input_data/text_files/Genescan.txt
15B	14	122.10	469.41	175	1186	1221

./input_data/text_files/Genescan.txt
15B	15	135.40	552.17	113	512	1354

./input_data/text_files/Genescan.txt
15B	16	136.80	561.41	150	876	1368

./input_data/text_files/Genescan.txt
15B	17	139.70	581.00	231	1585	1397

./input_data/text_files/Genescan.txt
15B	18	146.60	630.13	281	1580	1466

./input_data/text_files/Genescan.txt
15B	19	153.00	679.18	419	3926	1530

./input_data/text_files/Genescan.txt
15B	20	156.90	710.89	207	1082	1569

./input_data/text_files/Genescan.txt
15B	21	163.70	769.81	203	1377	1637

./input_data/text_files/Genescan.txt
15B	22	169.20	821.18	197	1379	1692

./input_data/text_files/Genescan.txt
15B	23	210.70		239	2766	2107

./input_data/text_files/Genescan.txt
16B	1	30.90	50.32	120	557	309

./input_data/text_files/Genescan.txt
16B	2	35.30	69.74	363	1946	353

./input_data/text_files/Genescan.txt
16B	3	36.80	76.35	169	1108	368

./input_data/text_files/Genescan.txt
16B	4	50.50	134.62	170	2053	505

./input_data/text_files/Genescan.txt
16B	5	55.30	154.84	955	8872	553

./input_data/text_files/Genescan.txt
16B	6	64.40	192.97	100	538	644

./input_data/text_files/Genescan.txt
16B	7	67.80	207.13	103	953	678

./input_data/text_files/Genescan.txt
16B	8	69.70	215.16	794	6394	697

./input_data/text_files/Genescan.txt
16B	9	78.10	251.08	1960	13690	781

./input_data/text_files/Genescan.txt
16B	10	81.60	266.33	166	1317	816

./input_data/text_files/Genescan.txt
16B	11	97.30	339.15	128	771	973

./input_data/text_files/Genescan.txt
16B	12	101.60	360.02	131	478	1016

./input_data/text_files/Genescan.txt
16B	13	109.00	397.88	233	2109	1090

./input_data/text_files/Genescan.txt
16B	14	121.00	464.69	137	1316	1210

./input_data/text_files/Genescan.txt
16B	15	136.50	561.48	314	2020	1365

./input_data/text_files/Genescan.txt
16B	16	139.30	580.42	269	2086	1393

./input_data/text_files/Genescan.txt
16B	17	152.70	679.60	180	1611	1527

./input_data/text_files/Genescan.txt
16B	18	161.50	753.53	151	925	1615

./input_data/text_files/Genescan.txt
16B	19	162.10	758.86	181	1181	1621

./input_data/text_files/Genescan.txt
16B	20	163.30	769.64	192	1580	1633

./input_data/text_files/Genescan.txt
16B	21	168.80	821.16	207	1467	1688

./input_data/text_files/Genescan.txt
17B	1	33.00	60.47	228	929	330

./input_data/text_files/Genescan.txt
17B	2	34.60	67.53	201	815	346

./input_data/text_files/Genescan.txt
17B	3	43.30	106.02	113	855	433

./input_data/text_files/Genescan.txt
17B	4	52.90	146.14	381	1908	529

./input_data/text_files/Genescan.txt
17B	5	88.20	298.95	131	690	882

./input_data/text_files/Genescan.txt
17B	6	89.00	302.68	1425	7821	890

./input_data/text_files/Genescan.txt
17B	7	155.40	709.46	304	1800	1554

./input_data/text_files/Genescan.txt
17B	8	158.50	736.00	182	966	1585

./input_data/text_files/Genescan.txt
17B	9	165.10	796.02	121	713	1651

./input_data/text_files/Genescan.txt
18B	1	33.10	61.79	197	1308	331

./input_data/text_files/Genescan.txt
18B	2	34.90	69.74	122	672	349

./input_data/text_files/Genescan.txt
18B	3	35.80	73.71	181	1062	358

./input_data/text_files/Genescan.txt
18B	4	38.30	84.74	182	902	383

./input_data/text_files/Genescan.txt
18B	5	54.80	155.01	590	3707	548

./input_data/text_files/Genescan.txt
18B	6	60.20	177.94	683	3513	602

./input_data/text_files/Genescan.txt
18B	7	69.10	215.57	440	2731	691

./input_data/text_files/Genescan.txt
18B	8	76.60	247.61	121	651	766

./input_data/text_files/Genescan.txt
18B	9	77.70	252.30	312	1761	777

./input_data/text_files/Genescan.txt
18B	10	93.20	323.82	1245	6175	932

./input_data/text_files/Genescan.txt
18B	11	94.10	328.10	261	2106	941

./input_data/text_files/Genescan.txt
18B	12	107.90	397.79	1319	11553	1079

./input_data/text_files/Genescan.txt
18B	13	120.70	470.00	802	4926	1207

./input_data/text_files/Genescan.txt
18B	14	121.90	476.99	103	995	1219

./input_data/text_files/Genescan.txt
18B	15	132.70	544.46	278	2850	1327

./input_data/text_files/Genescan.txt
18B	16	133.90	552.38	144	873	1339

./input_data/text_files/Genescan.txt
18B	17	138.10	580.89	109	734	1381

./input_data/text_files/Genescan.txt
18B	18	142.40	611.44	121	620	1424

./input_data/text_files/Genescan.txt
18B	19	143.00	615.81	179	1493	1430

./input_data/text_files/Genescan.txt
18B	20	143.80	621.69	126	744	1438

./input_data/text_files/Genescan.txt
18B	21	151.90	684.31	102	921	1519

./input_data/text_files/Genescan.txt
18B	22	153.00	693.27	128	923	1530

./input_data/text_files/Genescan.txt
18B	23	161.30	764.75	115	742	1613

./input_data/text_files/Genescan.txt
18B	24	162.10	772.03	118	751	1621

./input_data/text_files/Genescan.txt
18B	25	168.80	835.74	107	712	1688

./input_data/text_files/Genescan.txt
19B	1	31.10	53.41	100	483	311

./input_data/text_files/Genescan.txt
19B	2	33.00	61.79	175	785	330

./input_data/text_files/Genescan.txt
19B	3	34.90	70.18	1758	10330	349

./input_data/text_files/Genescan.txt
19B	4	36.40	76.79	326	3854	364

./input_data/text_files/Genescan.txt
19B	5	54.60	154.87	1066	9171	546

./input_data/text_files/Genescan.txt
19B	6	59.90	177.52	145	669	599

./input_data/text_files/Genescan.txt
19B	7	61.50	184.30	117	837	615

./input_data/text_files/Genescan.txt
19B	8	63.70	193.54	143	755	637

./input_data/text_files/Genescan.txt
19B	9	67.00	207.48	177	679	670

./input_data/text_files/Genescan.txt
19B	10	67.50	209.60	236	1682	675

./input_data/text_files/Genescan.txt
19B	11	68.90	215.57	1094	8775	689

./input_data/text_files/Genescan.txt
19B	12	74.80	240.96	173	1034	748

./input_data/text_files/Genescan.txt
19B	13	76.40	247.79	109	565	764

./input_data/text_files/Genescan.txt
19B	14	77.20	251.26	1512	9193	772

./input_data/text_files/Genescan.txt
19B	15	80.70	266.74	346	2195	807

./input_data/text_files/Genescan.txt
19B	16	88.70	303.53	128	603	887

./input_data/text_files/Genescan.txt
19B	17	96.20	339.28	441	3113	962

./input_data/text_files/Genescan.txt
19B	18	100.40	360.00	181	638	1004

./input_data/text_files/Genescan.txt
19B	19	103.10	373.81	197	1021	1031

./input_data/text_files/Genescan.txt
19B	20	107.20	395.38	308	1465	1072

./input_data/text_files/Genescan.txt
19B	21	107.70	398.06	382	3056	1077

./input_data/text_files/Genescan.txt
19B	22	111.00	416.03	902	11417	1110

./input_data/text_files/Genescan.txt
19B	23	119.50	464.64	383	3482	1195

./input_data/text_files/Genescan.txt
19B	24	134.90	561.38	443	3683	1349

./input_data/text_files/Genescan.txt
19B	25	137.70	580.27	226	1474	1377

./input_data/text_files/Genescan.txt
19B	26	142.40	613.30	102	1051	1424

./input_data/text_files/Genescan.txt
19B	27	144.50	628.63	273	1972	1445

./input_data/text_files/Genescan.txt
19B	28	150.80	676.89	1033	11980	1508

./input_data/text_files/Genescan.txt
19B	29	154.70	708.60	431	3469	1547

./input_data/text_files/Genescan.txt
19B	30	159.50	749.75	441	2729	1595

./input_data/text_files/Genescan.txt
19B	31	160.20	755.95	130	1061	1602

./input_data/text_files/Genescan.txt
19B	32	161.30	765.81	165	1384	1613

./input_data/text_files/Genescan.txt
19B	33	166.90	818.22	508	4040	1669

./input_data/text_files/Genescan.txt
19B	34	168.10	829.98	102	973	1681

./input_data/text_files/Genescan.txt
19B	35	181.70	981.57	106	1363	1817

./input_data/text_files/Genescan.txt
19B	36	182.90	996.68	307	3390	1829

./input_data/text_files/Genescan.txt
19B	37	208.00		113	1881	2080

./input_data/text_files/FAME.txt
_

./input_data/text_files/FAME.txt
                                                                                          DATA2:F90705633     06-JAN-95 16:29:38

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
-----------------------------------------------------------------------------------------------------------------

./input_data/text_files/FAME.txt
ID:     4632       XANT-ALBIL (LMG 482)                                           Date of run: 06-JUL-90 03:16:41

./input_data/text_files/FAME.txt
Bottle: 18         SAMPLE      [AEROBE]                                           Date edited: 05-OCT-93 18:09:08

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
   RT      Area    Ar/Ht Respon     ECL           Name            %         Comment 1             Comment 2

./input_data/text_files/FAME.txt
------- --------- ------ ------   ------  -------------------- ------  --------------------  --------------------

./input_data/text_files/FAME.txt
  1.733  31287000  0.062  . . .    6.997  SOLVENT PEAK . . . .  . . .  < min rt

./input_data/text_files/FAME.txt
  3.131      1399  0.033  1.210    9.999  10:0 . . . . . . . .   0.89  ECL deviates -0.001   Reference  0.002

./input_data/text_files/FAME.txt
  3.522      9527  0.036  1.173   10.606  11:0 ISO . . . . . .   5.85  ECL deviates  0.001   Reference  0.004

./input_data/text_files/FAME.txt
  4.724      5540  0.041  1.093   12.086  11:0 ISO 3OH . . . .   3.17  ECL deviates -0.004

./input_data/text_files/FAME.txt
  6.291      2791  0.050  1.030   13.449  12:0 3OH . . . . . .   1.50  ECL deviates -0.006

./input_data/text_files/FAME.txt
  7.159      4777  0.051  1.004   14.106  13:0 ISO 3OH . . . .   2.51  ECL deviates -0.004

./input_data/text_files/FAME.txt
  7.918      3182  0.052  0.985   14.621  15:0 ISO . . . . . .   1.64  ECL deviates  0.000   Reference  0.000

./input_data/text_files/FAME.txt
  9.360      2525  0.061  0.955   15.550  16:0 N alcohol . . .   1.26  ECL deviates  0.001

./input_data/text_files/FAME.txt
  9.482     10702  0.055  0.952   15.626  16:0 ISO . . . . . .   5.34  ECL deviates -0.000   Reference -0.001

./input_data/text_files/FAME.txt
  9.788     26845  0.057  0.947   15.816  16:1 w7c . . . . . .  13.30  ECL deviates -0.001

./input_data/text_files/FAME.txt
 10.082     30425  0.055  0.942   15.999  16:0 . . . . . . . .  14.99  ECL deviates -0.001   Reference -0.002

./input_data/text_files/FAME.txt
 10.415      1486  0.056  . . .   16.197   . . . . . . . . . .  . . .

./input_data/text_files/FAME.txt
 10.787     48496  0.058  0.930   16.417  ISO 17:1 w9c . . . .  23.61  ECL deviates  0.001

./input_data/text_files/FAME.txt
 11.144     35119  0.057  0.925   16.629  17:0 ISO . . . . . .  17.00  ECL deviates  0.000   Reference -0.001

./input_data/text_files/FAME.txt
 11.301      8521  0.057  0.923   16.723  17:0 ANTEISO . . . .   4.11  ECL deviates  0.001   Reference -0.001

./input_data/text_files/FAME.txt
 11.418      1096  0.056  0.921   16.792  17:1 w8c . . . . . .   0.53  ECL deviates  0.000

./input_data/text_files/FAME.txt
 12.471      1525  0.068  0.907   17.408  17:0 10 methyl . . .   0.72  ECL deviates -0.002

./input_data/text_files/FAME.txt
 13.185      6278  0.068  0.898   17.822  Sum In Feature 7 . .   2.95  ECL deviates -0.000   18:1 w7c/w9t/w12t

./input_data/text_files/FAME.txt
 13.767      1317  0.067  0.892   18.159  17:0 ISO 3OH . . . .   0.61  ECL deviates -0.005

./input_data/text_files/FAME.txt
*******      6278  . . .  . . .    . . .  SUMMED FEATURE 7 . .   2.95  18:1 w7c/w9t/w12t     18:1 w9c/w12t/w7c

./input_data/text_files/FAME.txt
******* . . . . .  . . .  . . .    . . .   . . . . . . . . . .  . . .  18:1 w12t/w9t/w7c

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
Solvent Ar  Total Area  Named Area  % Named  Total Amnt  Nbr Ref  ECL Deviation  Ref ECL Shift

./input_data/text_files/FAME.txt
----------  ----------  ----------  -------  ----------  -------  -------------  -------------

./input_data/text_files/FAME.txt
  31287000      201551      200065    99.26      191066        7          0.002          0.002

./input_data/text_files/FAME.txt
----------------------------------------------------------------------------------------------------------------

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
_

./input_data/text_files/FAME.txt
DATA2:F90423424     06-JAN-95 16:29:38

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
-----------------------------------------------------------------------------------------------------------------

./input_data/text_files/FAME.txt
ID:     3698       XANT-ALBIL (LMG 494)                                           Date of run: 23-APR-90 18:50:07

./input_data/text_files/FAME.txt
Bottle: 62         SAMPLE      [AEROBE]

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
   RT      Area    Ar/Ht Respon     ECL           Name            %         Comment 1             Comment 2

./input_data/text_files/FAME.txt
------- --------- ------ ------   ------  -------------------- ------  --------------------  --------------------

./input_data/text_files/FAME.txt
  1.499  30248000  0.060  . . .    7.048  SOLVENT PEAK . . . .  . . .  < min rt

./input_data/text_files/FAME.txt
  2.880      1598  0.030  1.163    9.999  10:0 . . . . . . . .   0.83  ECL deviates -0.001   Reference -0.004

./input_data/text_files/FAME.txt
  3.273     10592  0.031  1.131   10.606  11:0 ISO . . . . . .   5.37  ECL deviates  0.001   Reference -0.003

./input_data/text_files/FAME.txt
  4.486      7303  0.037  1.065   12.084  11:0 ISO 3OH . . . .   3.48  ECL deviates -0.006

./input_data/text_files/FAME.txt
  6.078      2905  0.042  1.016   13.447  12:0 3OH . . . . . .   1.32  ECL deviates -0.008

./input_data/text_files/FAME.txt
  6.958      5320  0.046  0.996   14.103  13:0 ISO 3OH . . . .   2.37  ECL deviates -0.007

./input_data/text_files/FAME.txt
  7.732      3600  0.047  0.982   14.621  15:0 ISO . . . . . .   1.58  ECL deviates  0.000   Reference -0.001

./input_data/text_files/FAME.txt
  8.297       970  0.047  0.973   15.000  15:0 . . . . . . . .   0.42  ECL deviates -0.000   Reference -0.002

./input_data/text_files/FAME.txt
  9.314      5533  0.049  0.959   15.626  16:0 ISO . . . . . .   2.38  ECL deviates  0.000   Reference -0.002

./input_data/text_files/FAME.txt
  9.619     28731  0.051  0.955   15.814  16:1 w7c . . . . . .  12.28  ECL deviates -0.003

./input_data/text_files/FAME.txt
  9.921     35103  0.051  0.951   16.000  16:0 . . . . . . . .  14.95  ECL deviates -0.000   Reference -0.002

./input_data/text_files/FAME.txt
 10.249      1840  0.053  . . .   16.193   . . . . . . . . . .  . . .

./input_data/text_files/FAME.txt
 10.624     61998  0.051  0.943   16.414  ISO 17:1 w9c . . . .  26.18  ECL deviates -0.002

./input_data/text_files/FAME.txt
 10.721      2854  0.056  0.942   16.471  Sum In Feature 5 . .   1.20  ECL deviates -0.005   17:1 ISO I/ANTEI B

./input_data/text_files/FAME.txt
 10.991     42461  0.051  0.939   16.630  17:0 ISO . . . . . .  17.86  ECL deviates  0.001   Reference -0.001

./input_data/text_files/FAME.txt
 11.147      7189  0.052  0.938   16.721  17:0 ANTEISO . . . .   3.02  ECL deviates -0.001   Reference -0.003

./input_data/text_files/FAME.txt
 11.261      1629  0.053  0.937   16.788  17:1 w8c . . . . . .   0.68  ECL deviates -0.004

./input_data/text_files/FAME.txt
 12.316       776  0.052  0.927   17.401  17:0 10 methyl . . .   0.32  ECL deviates -0.009

./input_data/text_files/FAME.txt
 13.042      7728  0.059  0.921   17.819  Sum In Feature 7 . .   3.19  ECL deviates -0.003   18:1 w7c/w9t/w12t

./input_data/text_files/FAME.txt
 13.623      1555  0.057  0.916   18.154  17:0 ISO 3OH . . . .   0.64  ECL deviates -0.010

./input_data/text_files/FAME.txt
 14.451      3576  0.055  0.911   18.633  19:0 ISO . . . . . .   1.46  ECL deviates -0.000   Reference -0.003

./input_data/text_files/FAME.txt
 16.800      1159  0.065  0.897   20.000  20:0 . . . . . . . .   0.47  ECL deviates  0.000   Reference -0.004

./input_data/text_files/FAME.txt
 17.866      2247  0.055  . . .   20.623   . . . . . . . . . .  . . .  > max rt

./input_data/text_files/FAME.txt
*******      2854  . . .  . . .    . . .  SUMMED FEATURE 5 . .   1.20  17:1 ISO I/ANTEI B    17:1 ANTEISO B/i I

./input_data/text_files/FAME.txt
*******      7728  . . .  . . .    . . .  SUMMED FEATURE 7 . .   3.19  18:1 w7c/w9t/w12t     18:1 w9c/w12t/w7c

./input_data/text_files/FAME.txt
******* . . . . .  . . .  . . .    . . .   . . . . . . . . . .  . . .  18:1 w12t/w9t/w7c

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
Solvent Ar  Total Area  Named Area  % Named  Total Amnt  Nbr Ref  ECL Deviation  Ref ECL Shift

./input_data/text_files/FAME.txt
----------  ----------  ----------  -------  ----------  -------  -------------  -------------

./input_data/text_files/FAME.txt
  30248000      234420      232580    99.22      223342       10          0.004          0.003

./input_data/text_files/FAME.txt
-----------------------------------------------------------------------------------------------------------------

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
_

./input_data/text_files/FAME.txt
                                                                                          DATA2:F92209640     11-JAN-95 15:30:33

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
-----------------------------------------------------------------------------------------------------------------

./input_data/text_files/FAME.txt
ID:     12085      XANT-ARBOR-POPUL (LMG 12141)                                   Date of run: 09-FEB-92 22:51:07

./input_data/text_files/FAME.txt
Bottle: 11         SAMPLE      [AEROBE]                                           Date edited: 05-OCT-93 12:13:17

./input_data/text_files/FAME.txt


./input_data/text_files/FAME.txt
   RT      Area    Ar/Ht Respon     ECL           Name            %         Comment 1             Comment 2

./input_data/text_files/FAME.txt
------- --------- ------ ------   ------  -------------------- ------  --------------------  --------------------

./input_data/text_files/FAME.txt
  1.656  37515000  0.075  . . .    7.004  SOLVENT PEAK . . . .  . . .  < min rt

./input_data/text_files/FAME.txt
  3.096      2008  0.032  1.125    9.999  10:0 . . . . . . . .   0.73  ECL deviates -0.001   Reference  0.006

./input_data/text_files/FAME.txt
  3.499     13875  0.033  1.099   10.607  11:0 ISO . . . . . .   4.95  ECL deviates  0.002   Reference  0.008

./input_data/text_files/FAME.txt
  4.129       728  0.041  1.069   11.419  10:0 3OH . . . . . .   0.25  ECL deviates -0.004

./input_data/text_files/FAME.txt
  4.461      6210  0.037  1.057   11.796  unknown 11.798 . . .   2.13  ECL deviates -0.002

./input_data/text_files/FAME.txt
  4.736     10049  0.038  1.048   12.085  11:0 ISO 3OH . . . .   3.42  ECL deviates -0.005

./input_data/text_files/FAME.txt

# NOTEBOOK END