<div class="alert alert-block alert-info">
Author:<br>Felix Gonzalez, P.E. <br> Adjunct Instructor, <br> Division of Professional Studies <br> Computer Science and Electrical Engineering <br> University of Maryland Baltimore County <br> fgonzale@umbc.edu
</div>

Python has 4 general purpose built-in containers or data collections that include dictionaries, list, set, and tuples. Each collection has its own properties, behaviors and uses. Lists are the most used data collection with dictionary, set and tupple used somewhat less depending on the application.

- List: Ordered and changeable collection allowing duplicate members.
- Tuple: Ordered and unchangeable collection allowing duplicate members.
- Set: Unordered and unindexed collection w/o duplicate members.
- Dictionary: Unordered, changeable, and indexed collection w/o duplicate members.

<b>Table: Summary of Collection Properties</b>

Collection | Form | Ordered? | Changeable? | Indexed? | Duplicate? 
--- | --- | --- | --- | --- | ---
List | [] | Yes | Yes | Yes | Yes
Dictionary | {"_:_"} | No | Yes | Yes | No
Set | {} | No | Yes | No | No
Tuple | () | Yes | No | Yes | Yes


Data collections are defined in the same way as "variable naming conventions and naming styles"  apply in the same way (see Section of same name in 5_Jupyter_Notebooks_Python_Overview.ipynb). One feature of the data collections is that they can have zero or more elements.

Documentation Reference: 
- https://docs.python.org/3/library/collections.html
- https://docs.python.org/3/library/stdtypes.html?highlight=list#sequence-types-list-tuple-range

There are various functions that can be used and for which we will explore in this notebook including thsoe to modify a collection, clear, delete, copy, sort, check for elements, etc.

# Table of Contents
[Lists](#Lists)

- [Lists: Add and Remove Elements](#Lists:-Add-and-Remove-Elements)

- [Lists: Remove Duplicates](#Lists:-Remove-Duplicates)

- [Lists: Delete and Clear Lists](#Lists:-Delete-and-Clear-Lists)

- [Lists: Sorting, Counting, Elements and Indexing](#Lists:-Sorting,-Counting,-Elements-and-Indexing)

- [List: Copying](#List:-Copying)

[Dictionaries](#Dictionaries)

- [Dictionary: Creating Dictionaries](#Dictionary:-Creating-Dictionaries)

- [Dictionary: Creating Dictionary with Lists and other Dictionaries](#Dictionary:-Creating-Dictionary-with-Lists-and-other-Dictionaries)

- [Dictionary: Creating Dictionary of Lists](#Dictionary:-Creating-Dictionary-of-Lists)

- [Dictionary: Modifying](#Dictionary:-Modifying)

- [Dictionaries: Copying](#Dictionaries:-Copying)

[Sets and Tuples](#Sets-and-Tuples)

[Sets (Optional)](#Sets-(Optional))

- [Sets: Add and Removing Elements](#Sets:-Add-and-Removing-Elements)

- [Sets: Delete and Clear Sets](#Sets:-Delete-and-Clear-Sets)

- [Sets: Copying](#Sets:-Copying)

- [Sets: Comparing Sets](#Sets:-Comparing-Sets)

[Tuples (Optional)](#Tuples-(Optional))

- [Tuple: Copying](#Tuple:-Copying)

[Converting Between Data Collections](#Converting-Between-Data-Collections)

# Lists
[Return to Table of Contents](#Table-of-Contents)

Lists are ordered and changeable data collection that allows to have duplicate members and are ordered, changeable, indexed. They are defined as a variable using square brackets, []. Common functions that can be used with lists and we will explore in this section include:
- append(): Adds an element at the end of the list
- clear(): Removes all the elements from the list
- copy(): Returns a copy of the list
- count(): Returns the number of elements with the specified value
- extend(): Add the elements of a list (or any iterable), to the end of the current list
- index(): Returns the index of the first element with the specified value
- insert(): Adds an element at the specified position
- pop(): Removes the element at the specified position
- remove(): Removes the item with the specified value
- reverse(): Reverses the order of the list
- sort(): Sorts the list

Documentation References:
https://docs.python.org/3/library/stdtypes.html?highlight=list#sequence-types-list-tuple-range

In [1]:
# Let's define a list with three elements.
fruits_list = ["apple", "banana", "cherry"] 
print(fruits_list)

['apple', 'banana', 'cherry']

In [2]:
print(fruits_list[1]) # Recall print returns a nonetype object.

banana

In [3]:
fruits_list[1] # This returns the element in the defined index.

'banana'

In [4]:
fruits_list[-1] # Negative start selecing from the end of the list.

'cherry'

In [5]:
# This method is called slicing.
# list[start_index:stop_index:step]
# When start_index is blank it starts at the beginning.
# When stop_index is blank it goes to the end of the list.
fruits_list[1:] # This does a slice of the list, starting in the element with index 1 to the end of the list

['banana', 'cherry']

In [6]:
fruits_list[0::2] # Here the step is 2. The slice will jump two indexes when selecting. 
# In this case selecting starting at index 0 and selecting index 2.

['apple', 'cherry']

In [7]:
# Change Item Value
fruits_list[2] = "orange"
print(fruits_list)

['apple', 'banana', 'orange']

In [8]:
# Loop Through a List
for x in fruits_list:
    print(x)

apple
banana
orange

### Lists: Add and Remove Elements
[Return to Table of Contents](#Table-of-Contents)

In [9]:
# Check if Item Exists
anitem = "apple" # Change the value between apple and blackberry or other value to test the outputs.
if anitem in fruits_list:
    print("Yes,", anitem,"is in the fruits list")
else:
    print("No,", anitem,"is not in the fruits list")

Yes, apple is in the fruits list

In [10]:
# The Len() function shows the number of elements.
print(len(fruits_list))

3

In [11]:
# Adding items can be accomplished with the append() function.
fruits_list.append("watermelon")
print(fruits_list)

['apple', 'banana', 'orange', 'watermelon']

In [12]:
# To add an item at the specified index, use the insert() method:
fruits_list.insert(1, "pear")
print(fruits_list)

['apple', 'pear', 'banana', 'orange', 'watermelon']

In [13]:
# EXTENDING
# The extend() method adds the specified list elements (or any iterable) to 
# the end of the current list.
fruits_list = ['apple', 'banana', 'cherry']
morefruits_list = ['watermelon', 'pear', 'orange','grape']

fruits_list.extend(morefruits_list)
print(fruits_list)

['apple', 'banana', 'cherry', 'watermelon', 'pear', 'orange', 'grape']

In [14]:
# Remove Item
fruits_list.remove("banana")
print(fruits_list)

['apple', 'cherry', 'watermelon', 'pear', 'orange', 'grape']

In [15]:
#  Remove Item-Method 2
# The pop() method removes the specified index, (or the last item if index is not specified):
fruits_list = ["apple", "banana", "cherry"]
fruits_list.pop()
print(fruits_list)

['apple', 'banana']

In [16]:
# Similarly to the extend function. Lists can be added.
fruits_list = ['apple', 'banana', 'cherry']
morefruits_list = ['watermelon', 'pear', 'orange','grape']

fruits_list = fruits_list + morefruits_list
print(fruits_list)

['apple', 'banana', 'cherry', 'watermelon', 'pear', 'orange', 'grape']

### Lists: Remove Duplicates
[Return to Table of Contents](#Table-of-Contents)

In [17]:
# Say we have a list with duplicates and we want to remove duplicates to have a list of unique values.
list_with_duplicates = ['apple', 'pear', 'apple', 'banana', 
                        'orange', 'banana', 'apple']

In some cases in data analytics and data science we may want to create the a unique list of values (e.g., where we remove the duplicates). There are various methods as well as various libraries and functions that will create a list of unique values and will . 

In this case we are focusing on base Python functions and methods. A few methods we can try are:
- Taking advantage of properties of dictionary keys or sets which don't allow duplicates and will remove duplicates.
- Using a for loop or list comprehension.

In [18]:
# For this example, let's convert to dictionary keys and then back to list.
list_no_duplicates = list(dict.fromkeys(list_with_duplicates))
list_no_duplicates

['apple', 'pear', 'banana', 'orange']

In [19]:
# For this example, let's convert to set and then back to list.
list_no_duplicates = list(set(list_with_duplicates))
list_no_duplicates

['apple', 'pear', 'banana', 'orange']

In [20]:
# Using a loop and "not in" conditional statement.
list_no_duplicates = []
for i in list_with_duplicates: # Iterates thru elements in list.
    if i not in list_no_duplicates: # Checks if the element does not exist in the list of no duplicates.
        list_no_duplicates.append(i) # If it does not exists appends it.

list_no_duplicates

['apple', 'pear', 'banana', 'orange']

In [21]:
# Using list comprehensions (for loops short version) and enumerate function.
list_no_duplicates = [i for n, i in enumerate(list_with_duplicates) if i not in list_with_duplicates[:n]]
list_no_duplicates

['apple', 'pear', 'banana', 'orange']

### Lists: Delete and Clear Lists
[Return to Table of Contents](#Table-of-Contents)

In [22]:
# The del keyword can also delete the list completely:
del fruits_list
print(fruits_list)   # This will give an error message (i.e., NameError).
# Recall that the del works with any variable including collections.

NameError: name 'fruits_list' is not defined

In [26]:
# The clear() method empties the list:
fruits_list = ["apple", "banana", "cherry"]
fruits_list.clear()
print(fruits_list)

[]

### Lists: Sorting, Counting, Elements and Indexing
[Return to Table of Contents](#Table-of-Contents)

In [27]:
# sorting (alphebatical order)
fruits_list = ["watermelon","apple", "cherry", "banana"]
fruits_list.sort()
print(fruits_list)

['apple', 'banana', 'cherry', 'watermelon']

In [28]:
# reverse ordering 
thislisfruits_list = ["watermelon","apple", "cherry", "banana"]
thislisfruits_list.reverse()
print(thislisfruits_list)

['banana', 'cherry', 'apple', 'watermelon']

In [29]:
# COUNTING
names_list = ["Adam","Michael","Susan","Leo","Adam","Marry","Heather"]
names_list.count("Adam")

2

In [30]:
# Indexing
# The index() method finds the first occurrence of the specified value.
names_list = ["Adam","Michael","Susan","Leo","Adam","Marry","Heather"]
names_list.index("Adam")

0

In [31]:
# To get all indices of an element we can use a for loop with a if statement.
Adam_Indices = []
for i in range(len(names_list)):
    if names_list[i]=='Adam':
        Adam_Indices.append(i)
print(Adam_Indices)

[0, 4]

In [32]:
# The index() method raises an exception (ValueError) if the value is not found.
names_list.index("Robert")

ValueError: 'Robert' is not in list

In [33]:
names_list.index("Susan")

2

### List: Copying
[Return to Table of Contents](#Table-of-Contents)

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2. There are various ways to address copying a list when needed without affecting the othher lists. One way is to use the built-in list method copy() function.

#### List: Copying/Copy Method
[Return to Table of Contents](#Table-of-Contents)

In [34]:
# There are ways to make a copy, one way is to use the built-in List method copy().
fruits_list = ["apple", "banana", "cherry"]
list_clone = fruits_list.copy()
print(f'list_clone: {list_clone}.')

list_clone: ['apple', 'banana', 'cherry'].

In [35]:
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'cherry'].

In [36]:
# Deleting the lists.
del fruits_list
del list_clone

#### List: Copying/List Method
[Return to Table of Contents](#Table-of-Contents)

In [37]:
# Another way to make a copy is to use the built-in method list().
fruits_list = ["apple", "banana", "pineapple"]
list_clone = list(fruits_list)
print(f'list_clone: {list_clone}.')

list_clone: ['apple', 'banana', 'pineapple'].

In [38]:
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'pineapple'].

In [39]:
# Deleting the lists.
del fruits_list
del list_clone

#### List: Copying/Slcing Method
[Return to Table of Contents](#Table-of-Contents)

In [40]:
# Creating a copy using slicing
fruits_list = ["apple", "banana", "pineapple"]
list_clone = fruits_list[:]
print(f'list_clone: {list_clone}.')

list_clone: ['apple', 'banana', 'pineapple'].

In [41]:
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'pineapple'].

In [42]:
# Deleting the lists.
del fruits_list
del list_clone

#### List: Copying/For Loop and Append Method
[Return to Table of Contents](#Table-of-Contents)

In [43]:
fruits_list = ["apple", "banana", "pineapple"]
list_clone = [] # Needs creating a blank list.
for i in fruits_list:
    list_clone.append(i)
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'pineapple'].

In [44]:
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'pineapple'].

In [45]:
# Deleting the lists.
del fruits_list
del list_clone

# Avoid

#### List: Copying/Assignment Operator Method
[Return to Table of Contents](#Table-of-Contents)

This method should be avoided as this may result in referencing issues. In this case, a new list object is not be created but rather causes the two lists to reference each other.

In [46]:
# Creating a copy using slicing
fruits_list = ["apple", "banana", "pineapple"]
list_clone = fruits_list
print(f'list_clone: {list_clone}.')

list_clone: ['apple', 'banana', 'pineapple'].

In [47]:
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'pineapple'].

In [48]:
list_clone.append('blackberry') # Changing this list changes the fruits list as well.
print(f'fruits_list: {fruits_list}.')

fruits_list: ['apple', 'banana', 'pineapple', 'blackberry'].

In [49]:
# Deleting the lists.
del fruits_list
del list_clone

# Dictionaries
[Return to Table of Contents](#Table-of-Contents)

Similarly to lists, Dictionaries changeabled indexed collection. However, they are not ordered and do not have duplicate elements. Dictionaries are defined as a variable using curly brachets, {}. However, the dictionaries have keys and for each key one or multiple values. There are multiple ways of creating dictionaries. It is important to note that some file formats (e.g., JSON) use a dictionary collection and can be read as a dictionary in Python.

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2. There are various ways to make a copy. One way is to use the built-in Dictionary method copy(). Another way to make a copy is to use the built-in method dict().

The following are common functions used with dictionaries:
- clear(): Removes all the elements from the dictionary
- copy(): Returns a copy of the dictionary
- fromkeys(): Returns a dictionary with the specified keys and values
- get(): Returns the value of the specified key
- items(): Returns a list containing the a tuple for each key value pair
- keys(): Returns a list containing the dictionary's keys
- pop(): Removes the element with the specified key
- popitem(): Removes the last inserted key-value pair
- setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update(): Updates the dictionary with the specified key-value pairs
- values():	Returns a list of all the values in the dictionary

Note that some data file types (e.g., JSON) use a dictionary format. When working with JSON all the functions that can be used with dictionaries will also work with JSON data. Later in class we will learn how to convert dictionary data to a dataframe (e.g., table format) and vice versa.

#### Dictionary: Creating Dictionaries
[Return to Table of Contents](#Table-of-Contents)

In [50]:
# A dictionary is a collection which is unordered, changeable and indexed. 
# In Python dictionaries are written with curly brackets, and they have keys and values.
# There are multiple ways of creating dictionaries
# Method-1
Days_Eng_Ita = {'Monday':'Lunedi',
                'Tuesday':'Martedi',
                'Wednesday':'Mercoledi',
                'Thursday':'Geovedi',
                'Friday':'Venerdi',
                'Saturday':'Saboto',
                'Sunday':'Domenica'
               }
Days_Eng_Ita

{'Monday': 'Lunedi',
 'Tuesday': 'Martedi',
 'Wednesday': 'Mercoledi',
 'Thursday': 'Geovedi',
 'Friday': 'Venerdi',
 'Saturday': 'Saboto',
 'Sunday': 'Domenica'}

In [51]:
type(Days_Eng_Ita)

dict

In [52]:
# Method-2
Days_Eng_Ita = dict([('Monday','Lunedi'), 
                     ('Tuesday','Martedi'),
                     ('Wednesday','Mercoledi'),
                     ('Thursday','Geovedi'),
                     ('Friday','Venerdi'),
                     ('Saturday','Saboto'),
                     ('Sunday','Domenica')
                    ])
Days_Eng_Ita

{'Monday': 'Lunedi',
 'Tuesday': 'Martedi',
 'Wednesday': 'Mercoledi',
 'Thursday': 'Geovedi',
 'Friday': 'Venerdi',
 'Saturday': 'Saboto',
 'Sunday': 'Domenica'}

In [53]:
type(Days_Eng_Ita)

dict

In [54]:
# Method-3
Days_Eng_Ita = dict(Monday='Lunedi',
                    Tuesday='Martedi',
                    Wednesday='Mercoledi',
                    Thursday='Geovedi',
                    Friday='Venerdi',
                    Saturday='Saboto',
                    Sunday='Domenica'
                   )
Days_Eng_Ita

{'Monday': 'Lunedi',
 'Tuesday': 'Martedi',
 'Wednesday': 'Mercoledi',
 'Thursday': 'Geovedi',
 'Friday': 'Venerdi',
 'Saturday': 'Saboto',
 'Sunday': 'Domenica'}

In [55]:
type(Days_Eng_Ita)

dict

In [56]:
# Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets:
Days_Eng_Ita['Monday']

'Lunedi'

In [57]:
# There is also a method called get() that will give you the same result:
Days_Eng_Ita.get('Monday')

'Lunedi'

In [58]:
#  CHANGING VALUES
# You can change the value of a specific item by referring to its key name.

# There is a typo in one of the days: Thursday. It should be Giovedi
# Let's update our library
Days_Eng_Ita['Thursday'] = 'Giovedi'

In [59]:
Days_Eng_Ita

{'Monday': 'Lunedi',
 'Tuesday': 'Martedi',
 'Wednesday': 'Mercoledi',
 'Thursday': 'Giovedi',
 'Friday': 'Venerdi',
 'Saturday': 'Saboto',
 'Sunday': 'Domenica'}

In [60]:
# Method-4
# Creating a dictionary with keys and a value
# Example with vowels and keys
keys = ['a', 'e', 'i', 'o', 'u']
value = 'vowel'
vowels = dict.fromkeys(keys, value)
print(vowels)

{'a': 'vowel', 'e': 'vowel', 'i': 'vowel', 'o': 'vowel', 'u': 'vowel'}

#### Dictionary: Creating Dictionary with Lists and other Dictionaries
[Return to Table of Contents](#Table-of-Contents)

In [61]:
# We can also build a dictionary incrementally
# Note that relatives is a list within the dictionary instead of a single value like before.
# Note that pets is a dictionary within a dictionary.
person = {}
person['fname'] = 'Jon'
person['lname'] = 'Snow'
person['age'] = 27
person['spouse'] = 'Ygritte'
person['relatives'] = ['Ned', 'Robb', 'Sansa','Arya'] # Values here are a list within a dictionary.
person['pets'] = {'dog': 'Ghost', 'dragon': 'Drogon'} # Values in here are a dictionary within a dictionary.

In [62]:
person

{'fname': 'Jon',
 'lname': 'Snow',
 'age': 27,
 'spouse': 'Ygritte',
 'relatives': ['Ned', 'Robb', 'Sansa', 'Arya'],
 'pets': {'dog': 'Ghost', 'dragon': 'Drogon'}}

In [63]:
# Since the dictionary has lists we can use all the functions for lists.
# However note that in the dictionary above the list element corresponds to an element in a list in another key.
person['relatives'][1:] # Note this is a slice of the elements in position 1 and onwards.

['Robb', 'Sansa', 'Arya']

In [64]:
person['fname']

'Jon'

In [65]:
person['relatives']

['Ned', 'Robb', 'Sansa', 'Arya']

In [66]:
# Retrieving the values in the sublist or subdictionary requires an additional index or key:
person['relatives'][0]
# Because a list is indexed we can use all methods to call elements within lists.

'Ned'

In [67]:
person['relatives'][-1]

'Arya'

In [68]:
# The first element calls the dictionary under pets, while the scond calls the values of the dog's name.
person['pets']['dog']
# Note that we could have a list within a dictionary within another dictionary.
# In the case above if the person had two dog's we would need a list.

'Ghost'

In [69]:
# Loop Through a Dictionary
# Print all key names in the dictionary, one by one:
for x in person:
    print(x)

fname
lname
age
spouse
relatives
pets

In [70]:
# Print all values in the dictionary, one by one:
for x in person:
    print(person[x])

Jon
Snow
27
Ygritte
['Ned', 'Robb', 'Sansa', 'Arya']
{'dog': 'Ghost', 'dragon': 'Drogon'}

In [71]:
# You can also use the values() function to return values of a dictionary:
for x in person.values():
    print(x)

Jon
Snow
27
Ygritte
['Ned', 'Robb', 'Sansa', 'Arya']
{'dog': 'Ghost', 'dragon': 'Drogon'}

In [72]:
# Loop through both keys and values, by using the items() function:
for x, y in person.items():
    print(x, y)

fname Jon
lname Snow
age 27
spouse Ygritte
relatives ['Ned', 'Robb', 'Sansa', 'Arya']
pets {'dog': 'Ghost', 'dragon': 'Drogon'}

#### Dictionary: Creating Dictionary of Lists
[Return to Table of Contents](#Table-of-Contents)

In this case let's assume that we have a car database. The values in every key will be made of lists. Each car will have its own index accross all keys. In this case the key would be similar to the features or columns in a spreadsheet table while the index would be the rows of data.

In [73]:
car_database ={"brand": ["Ford", "Chevrolet", "Dodge", "Chevrolet", "Ford"],
               "model": ["Mustang", "Camaro", "Charger", "Corvette", "Mustang"],
               "year": [1964, 1969, 1968, 1974, 2001],
              }
car_database

{'brand': ['Ford', 'Chevrolet', 'Dodge', 'Chevrolet', 'Ford'],
 'model': ['Mustang', 'Camaro', 'Charger', 'Corvette', 'Mustang'],
 'year': [1964, 1969, 1968, 1974, 2001]}

In [74]:
# You can call the values or in this case the list within a dictionary key.
car_database['brand']

['Ford', 'Chevrolet', 'Dodge', 'Chevrolet', 'Ford']

In [75]:
# Since we are calling a list we can use all the functions for lists.
# However note that in the dictionary above the list element corresponds to an element in a list in another key.
car_database['brand'][1:] # I can do a slice that returns elements from that in position 1 and onward.

['Chevrolet', 'Dodge', 'Chevrolet', 'Ford']

In [76]:
print(car_database['brand'][0], car_database['model'][0], car_database['year'][0])

Ford Mustang 1964

In [77]:
# Using the index number I can create a variable that calls for a speicific element.
index_element = 0 # Change to 0, 1, 2, etc. to test the outputs.
print(car_database['brand'][index_element], car_database['model'][index_element], car_database['year'][index_element])

Ford Mustang 1964

In [78]:
car_database['brand'].index('Chevrolet') 
# Note that index only calls the first element that matches.

1

#### Example:
Lets say I want to get all the car models that belong to a brand using an input funciton where I can type the brand. This will be my steps for my code:
1. Type brand.
2. Iterate thru elements of the brand key and see if it matches the brand I typed.
3. If there is a match extract the index of that brand.
4. The index of the brand will match models of that brand but instead of the brand key will use the same index under the model key. Take that element and append into the list.

Depending on what I need as the output I could not only create a list but create a new dictionary of the brand and the car models under that brand.

In [79]:
# The input is defined as a variable car_db_brand. Note that this is case sensitive at the moment.
car_brand_input = input(prompt = 'Type Ford, Chevrolet or Dodge to find the brand models: ')
car_brand_input

Type Ford, Chevrolet or Dodge to find the brand models:  Ford

'Ford'

In [80]:
# To get all indices of an element we can use a for loop with a if statement.
brand_indices = []
for i in range(len(car_database['brand'])): # Iterates thru elements of car_database['brand']
    if car_database['brand'][i] == car_brand_input: # Compares if the element is the same string as the input.
        brand_indices.append(i) # If there is a match grabs the brand index.
print(brand_indices) # Chevrolet repeats in two places.

[0, 4]

In [81]:
brand_indices[0] # This is the value of the index 0.

0

In [82]:
# However, now with the indices I can get the model for those indices. With the following code.
car_models = []

for i in range(len(brand_indices)): # Itereates thru the number of elements in brand_indices
    car_models.append(car_database['model'][brand_indices[i]]) # Extract the index in the car_database['model']
car_models # List of Car models

['Mustang', 'Mustang']

In [83]:
# Consolidated code: to find Brand Models
# Lets say I want to get all the car models that belong to a brand using the input funciton.
car_brand_input = input(prompt = 'Type Ford, Chevrolet or Dodge to find the brand models: ')

# To get all the models of an element we can use a for loop with a if statement.
car_models = []

for i in range(len(car_database['brand'])): # Iterates thru the number of elements in the car_database['brand']
    if car_database['brand'][i] == car_brand_input: # Compares if the element is the same string as the input.
        car_models.append(car_database['model'][i]) # ar_database['model'] at the index where there is a brand match.

# car_models = list(set(car_models)) # Removes duplicates.
print(car_models)

Type Ford, Chevrolet or Dodge to find the brand models:  Ford

['Mustang', 'Mustang']

The code above has a few limitations that can be addressed and we will discuss later in class.
1. Is case sensitive.
2. The brand_indices was a temporary step that was not needed as shown in the "Consolidated Code"  but was useful in understanding the steps in the loop.
3. The database can have duplicate values in the model and if we need only unique values we would need to add a block of code to get rid of duplicatEs

#### Dictionary: Modifying
[Return to Table of Contents](#Table-of-Contents)

In [84]:
# Let's change our example dictionary into a easier one
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964
           }
print(car_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [85]:
# Check if Key Exists
key = "model"
car_dict ={"brand": "Ford",
           "model": "Mustang",
           "year": 1964
          }
if key in car_dict:
    print("Yes,", key, "is one of the keys in this dictionary")
else:
    print("No,", key, "is not one of the keys in this dictionary")

Yes, model is one of the keys in this dictionary

In [86]:
key = "weight"
if key in car_dict:
    print("Yes,", key, "is one of the keys in this dictionary")
else:
    print("No,", key, "is not one of the keys in this dictionary")

No, weight is not one of the keys in this dictionary

In [87]:
# To determine how many items (key-value pairs) a dictionary has, use the len() method.
print(len(car_dict))

3

In [88]:
# Adding Items
# Adding an item to the dictionary is done by using a new index key
# and assigning a value to it:
car_dict = {"brand": "Ford", 
            "model": "Mustang",
            "year": 1964
           }

car_dict["color"] = "red" # This method that creates a new key (e.g., color) and adding a value (e.g., red).
print(car_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [89]:
print(len(car_dict))
# Note that my car_dict now has 4 keys.

4

In [90]:
# We can also use update()
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 2019
           }

car_dict.update({"color": "White"}) # With update I am creating a new key (e.g., color) and adding a value (e.g., red).
print(car_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2019, 'color': 'White'}

In [91]:
print(len(car_dict))

4

In [92]:
# Removing Items
# There are several methods to remove items from a dictionary.
# Method-1: The pop() method removes the item with the specified key name
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964
           }

car_dict.pop("model") # Pop results in removing the model key and its values.
print(car_dict)

{'brand': 'Ford', 'year': 1964}

In [93]:
# The popitem() method removes a random item!
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964,
           }

car_dict.popitem() # Popitem results in removing a last item/key and its values.
print(car_dict)

{'brand': 'Ford', 'model': 'Mustang'}

In [94]:
# Removing an item with a specific key
# The del keyword removes the item with the specified key name.

In [95]:
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964
           }

del car_dict["model"]
print(car_dict)

{'brand': 'Ford', 'year': 1964}

In [96]:
# The del keyword can also delete the dictionary completely:
car_dict = {"brand": "Ford", 
            "model": "Mustang",
            "year": 1964
           }
del car_dict

In [97]:
car_dict # Recall car_dict is deleted and does note exist.

NameError: name 'car_dict' is not defined

In [98]:
# The clear() keyword empties the dictionary:
car_dict = {"brand": "Ford",
            "model": "Mustang", 
            "year": 1964
           }

car_dict.clear() # Clears the dictionary data but still has a blank dictionary.
print(car_dict)

{}

#### Dictionaries: Copying
[Return to Table of Contents](#Table-of-Contents)

Same as lists, you cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2. There are various ways to make a copy

In [99]:
# one way is to use the built-in Dictionary method copy().
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964
           }

dict_clone = car_dict.copy()
print(dict_clone)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [100]:
# Another way to make a copy is to use the built-in method dict().
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964
           }

dict_clone = dict(car_dict)
print(dict_clone)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [101]:
# Key-value pairs
car_dict = {"brand": "Ford",
            "model": "Mustang",
            "year": 1964
           }
car_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [102]:
car_dict.keys()

dict_keys(['brand', 'model', 'year'])

In [103]:
car_dict.values()

dict_values(['Ford', 'Mustang', 1964])

# Sets and Tuples
[Return to Table of Contents](#Table-of-Contents)

Sets and Tuples are the other data collections within the base Python code. Although we will not discussing Sets and Tuples data collections in detail in the lecture, it is importatnt to understand each data collection characteristics as discussed in the "Table: Summary of Collection Properties" above. In practice, the most common use of sets is to remove duplicates from a list by converting a list to a set and back to a list. The other common use of Tuples is as an output to some functions that we will explore during the class.

As we saw earlier, data can be converted between different type of data collections the functions list(), tupple(), set() and dict(). These conversions can help leverage the characteristics of each data collection for our advantage. 

However, note that some properties of the data collections can affect the elements during the conversion. In the end of section [Lists: Add and Remove Elements](#Lists:-Add-and-Remove-Elements) we took advantage of some of this properties that don't allow to have duplicates to identify unique values within a list by converting the initial list to a set or dictionary (which do not allow duplicates) and then back to a list, now without duplicate values. When converting between data collections be aware of these intended or unintended consequences.

# Sets (Optional)
[Return to Table of Contents](#Table-of-Contents)

Sets only similarity to lists is that they are changable. They are not ordered, do not allow duplicates and does not have indexed elements. Sets are defined as a variable using curly brachets, {}. To construct a set, you can use the set() function.

You cannot access items in a set by referring to an index, since sets are unordered the items has no index. What we can do?
- We can loop through the set items using a for loop
- We can ask if a specified value is present in a set, by using the in keyword.

The following are common functions used with sets:
- add(): Adds an element to the set
- clear(): Removes all the elements from the set
- copy(): Returns a copy of the set
- update(): Adds the multiple to a set
- discard(): Removes the element from the set
- remove(): Removes the element from the set

The following functions can be used when comparing and working with two sets:
- difference(): method returns a new set, without the unwanted items,
- difference_update(): method removes the unwanted items from the original set.
- intersection() method returns a new set, without the unwanted items
- intersection_update() method removes the unwanted items from the original set.
- union(): Merges sets
- issubset(): Returns 1 if subset
- issuperset(): Returns 1 if superset

In [104]:
# A set is a collection which is unordered and unindexed. 
# In Python sets are written with curly brackets.
fruits_set = {"apple", "banana", "cherry"}
print(fruits_set)

{'cherry', 'apple', 'banana'}

In [105]:
# Access Items
# You cannot access items in a set by referring to an index, 
# since sets are unordered the items has no index.
# 
# But you can loop through the set items using a for loop
fruits_set = {"apple", "banana", "cherry"}
for x in fruits_set:
    print(x)

cherry
apple
banana

In [106]:
# and you can ask if a specified value is present in a set, by using the in keyword.
fruits_set = {"apple", "banana", "cherry"}
print("banana" in fruits_set)
print("grape" in fruits_set)

True
False

In [107]:
# Get the Length of a Set
# To determine how many items a set has, use the len() method.
fruits_set = {"apple", "banana", "cherry"}
print(len(fruits_set))

3

In [108]:
# It is also possible to use the set() constructor to make a set.
fruits_set = set(("apple", "banana", "cherry")) 
# note the double round-brackets
print(fruits_set)

{'cherry', 'apple', 'banana'}

#### Sets: Add and Removing Elements
[Return to Table of Contents](#Table-of-Contents)

In [109]:
# Change Items
# Once a set is created, you cannot change its items, but you can add new items.

# Add Items
# Method-1: To add one item to a set use the add() method.
fruits_set = {"apple", "banana", "cherry"}
fruits_set.add("orange")
print(fruits_set)

{'cherry', 'apple', 'banana', 'orange'}

In [110]:
# Add Items
# Method-2: To add more than one item to a set use the update() method.
fruits_set = {"apple", "banana", "cherry"}
fruits_set.update(["orange", "mango", "grapes"])
print(fruits_set)

{'grapes', 'mango', 'apple', 'banana', 'cherry', 'orange'}

In [111]:
# Remove Item
# To remove an item in a set, use the remove(), or the discard() method.
fruits_set = {"apple", "banana", "cherry"}
fruits_set.remove("banana")
print(fruits_set)

{'cherry', 'apple'}

In [112]:
fruits_set = {"apple", "banana", "cherry"}
fruits_set.discard("banana")
print(fruits_set)

{'cherry', 'apple'}

In [113]:
# What is the difference between remove and discard
# If the item to remove does not exist, 
#remove() will raise an error but
#discard() will NOT raise an error.

In [114]:
# Remove an item by using the pop() method:
fruits_set = {"apple", "banana", "cherry"}
x = fruits_set.pop()
print(x)
print(fruits_set)

cherry
{'apple', 'banana'}

In [115]:
# NOTE THAT: Sets are unordered, so when using the 
# pop() method, you will not know which item that gets removed.

#### Sets: Delete and Clear Sets
[Return to Table of Contents](#Table-of-Contents)

In [116]:
# The clear() method empties the set:
fruits_set = {"apple", "banana", "cherry"}
fruits_set.clear()
print(fruits_set)

set()

In [117]:
# The del keyword will delete the set completely:
fruits_set = {"apple", "banana", "cherry"}
del fruits_set

#### Sets: Copying
[Return to Table of Contents](#Table-of-Contents)

In [118]:
#  Copying a set
fruits_set = {"apple", "banana", "cherry"}
x = fruits_set.copy()
print(x)

{'cherry', 'apple', 'banana'}

#### Sets: Comparing Sets
[Return to Table of Contents](#Table-of-Contents)

In [119]:
# Finding the differences between two sets
# x.difference(y) method return a set that contains the 
# items that only exist in set x, and not in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
print(z)

{'cherry', 'banana'}

In [120]:
# Removing the items that exist in both sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y) 
print(x)

{'cherry', 'banana'}

In [121]:
# note that the difference() method returns a new set, without the unwanted items,
# difference_update() method removes the unwanted items from the original set.

In [122]:
# Finding the items that exist in two sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y) 
print(z)

{'apple'}

In [123]:
# x.intersection_update(y) removes the items that is not present in both x, and set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y) 
print(x)

{'apple'}

In [124]:
# again, the intersection() method returns a new set, without the unwanted items
# intersection_update() method removes the unwanted items from the original set.

In [125]:
# Merging sets
# union() return a set that contains all items from both sets, duplicates are excluded:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y) 
print(z)

{'apple', 'banana', 'google', 'cherry', 'microsoft'}

In [126]:
# Determining whether two sets are completely different
# isdisjoint() return True if no items in set x is present in set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [127]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.isdisjoint(y) 
print(z)

False

In [128]:
# Determining whether x is a subset of y
# issubset() teturns True if all items set x are present in set y:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y) 
print(z)

True

In [129]:
# issuperset() returns True if all items set y are present in set x:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [130]:
# Remove an item by using the pop() method:
fruits_set = {"apple", "banana", "cherry"}
x = fruits_set.pop()
print(x)
print(fruits_set)

cherry
{'apple', 'banana'}

In [131]:
# Remove an item by using the pop() method:
fruits_set = {"apple", "banana", "cherry"}
x = fruits_set.pop()
print(x)
print(fruits_set)

cherry
{'apple', 'banana'}

# Tuples (Optional)
[Return to Table of Contents](#Table-of-Contents)

Similar to lists, Tuples are Ordered collection allowing duplicate and indexed members, however, they are <u>unchangeable</u> and cannot add/remove elements, extend or sort. Tuples are defined as a variable using round brackets or parenthesis, ().

Once a tuple is created, you cannot change its values. Tuples are unchangeable! You cannot add an item. You cannot extend them. You cannot remove an item. You can delete them (using del).

Common functions that can be used with tuples and we will explore in this section include:
- count()	Returns the number of elements with the specified value
- index()	Returns the index of the first element with the specified value

In [132]:
# In Python tuples are written with round brackets.
fruits_tuple = ("apple", "banana", "cherry")
print(fruits_tuple)

('apple', 'banana', 'cherry')

In [133]:
# Access Tuple Items (similar to lists)
fruits_tuple = ("apple", "banana", "cherry")
print(fruits_tuple[1])

banana

In [134]:
# Loop Through a Tuple (similar to lists)
fruits_tuple = ("apple", "banana", "cherry")
for x in fruits_tuple:
    print(x)

apple
banana
cherry

In [135]:
# Check if Item Exists (similar to lists)
fruits_tuple = ("apple", "banana", "cherry")
anitem = "apple"
if anitem in fruits_tuple:
    print("Yes,", anitem,"is in this tuple")
else:
    print("No,", anitem,"is not in this tuple")

Yes, apple is in this tuple

In [136]:
fruits_tuple = ("apple", "banana", "cherry")
anitem = "grape"
if anitem in fruits_tuple:
    print("Yes,", anitem,"is in this tuple")
else:
    print("No,", anitem,"is not in this tuple")

No, grape is not in this tuple

In [137]:
# tuple length (similar to lists)
fruits_tuple = ("apple", "banana", "cherry")
print(len(fruits_tuple))

3

In [138]:
# Counting
names_tuple = ("Adam","Michael","Susan","Leo","Adam","Marry","Heather")
names_tuple.count("Adam")

2

In [139]:
# Indexing
# The index() method finds the first occurrence of the specified value.
# The index() method raises an exception if the value is not found.
# Can use the loop as  in the list to find the index of other occurrences.
names_tuple = ("Adam","Michael","Susan","Leo","Adam","Marry","Heather")
names_tuple.index("Adam")

0

#### Tuple: Copying
[Return to Table of Contents](#Table-of-Contents)

In [140]:
# COPYING A TUPLE
fruits_tuple = ("apple", "banana", "cherry")
tuple_clone = fruits_tuple
print(tuple_clone)

('apple', 'banana', 'cherry')

In [141]:
tuple_clone = ('grapes', 'banana')
print(fruits_tuple)
print(tuple_clone)
# Differently to Lists, because Tuples are unchangeable you cannot modify a tupple with functions like append, add, etc.
# This causes that copying by an operator to work with Tuples.

('apple', 'banana', 'cherry')
('grapes', 'banana')

In [142]:
# Add, append, and other similar functions that can be used with other data collections will cause an attribute error. 
tuple_clone.add("orange")

AttributeError: 'tuple' object has no attribute 'add'

# NOTEBOOK END